:root {
  --font: Effra;
  --boxHeight: 28.21px;
  --boxWidth: 184px;
}

.box {
  height: 48px;
  width: 100%;
  background-color: #8D55E6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, #8D55E6 , #AE8EE0);
  flex-wrap: wrap;
  flex-direction: row;
}

.logo {
  padding-left: 16px;
  width: 90%;
}

.button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  font-family: var(--font);
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
}

.inputBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 15px 30.99px 25.7px 25px;

  @media screen and (min-width: 375px) {
    padding: 15px 20px 25.7px 43px;
  }

  @media screen and (min-width: 414px) {
    padding-left: 18%;
  }
}

.container {
  display: flex;
  align-items: center;
}

input::placeholder {
  padding-left: 5px;
  font-size: 9px;
  color: #777777;
}

h1, p {
  font-family: var(--font);
  color: #626262;
}

h1 {
  font-size: 15px;
  padding: 0 40px 21px 55px;
  margin: 0;

  @media screen and (min-width: 375px) {
    font-size: 20px;
  }

  @media screen and (min-width: 414px) {
    font-size: 25px;
  }
}

.continueButton, .facebookButton, .googleButton {
  height: 31.21px;
  width: 190px;
  color: white;
  font-family: var(--font);
  border: 0;
  border-radius: 5px;

  @media screen and (min-width: 375px) {
    height: 36.21px;
    width: 209px;
  }

  @media screen and (min-width: 414px) {
    height: 41.21px;
    width: 220px;
  }
}

.continueButton {
  margin-top: 7.95px;
  background-color: #7262bf;
  margin-bottom: 25.79px;
}

.facebookButton {
  background-color: #6981ca;
  margin-top: 9.47px;
  margin-bottom: 7.47px;
}

.googleButton {
  background-color: #cb5541;
  margin-bottom: 29.32px;
}

.loginButton {
  color: #00ff1e;
  font-size: 12px;
  font-weight: lighter;
  width: 81.59px;
  height: 15px;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: white;
  text-align: left;

  @media screen and (min-width: 375px) {
    font-size: 15px;
    width: 100px;
    height: 17px;
  }

  @media screen and (min-width: 414px) {
    font-size: 17px;
  }
}

p {
  font-size: 11px;
  margin: 0;
  padding-bottom: 4px;

  @media screen and (min-width: 375px) {
    font-size: 13px;
  }

  @media screen and (min-width: 414px) {
    font-size: 16px;
  }
}

.image {
  width: 209px;
  margin-bottom: 21.66px;
}

input {
  margin-bottom: 18.79px;
  border-color: #d9d9d9;
  border-radius: 5px;
  border-style: double;
  height: var(--boxHeight);
  width: var(--boxWidth);

  @media screen and (min-width: 375px) {
    height: calc(var(--boxHeight)+5px);
    width: calc(var(--boxWidth)+19px);
  }

  @media screen and (min-width: 414px) {
    height: calc(var(--boxHeight)+ 5px);
    width: calc(var(--boxWidth)+ 30px);
  }
}
