.box {
  height: 48px;
  width: 100%;
  background-color: #8D55E6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, #8D55E6 , #AE8EE0);
}

.logo {
  padding-left: 16px;
}
