:root {
  --font: Effra;
  --boxHeight: 28.21px;
  --boxWidth: 184px;
}

.box {
  height: 48px;
  width: 100%;
  background-color: #8D55E6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, #8D55E6 , #AE8EE0);
  flex-wrap: wrap;
  flex-direction: row;
}

.logo {
  padding-left: 16px;
  width: 90%;
}

.button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  font-family: var(--font);
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
}


.buttonJoin {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  font-family: var(--font);
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
}


.HeaderModal {
  height: 555px;
  background-color: white;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  padding: 0px;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  outline: none;
  margin:auto;
  width: 255px;

  @media screen and (min-width: 768px) {
    width: 477px;
    height: 355px;
    margin: auto;
  }
  @media screen and (min-width: 1440px) {
    width: 599px;
    height: 401px;
    margin: auto;
  }
}

.OverlayModal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
