ul{
  list-style-type: none;
  padding: 1px;
  box-shadow: 2px 2px 10px #ccc;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
    @media screen and (min-width: 768px) {
      position: relative;
      float: left;
      top: +3.9%;
      width: 25%;
      margin-right: 25px;
      }
}

li{
  width: 99%;
  margin:auto;
  height: 40px;  

  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
li:last-of-type{
  border: none;
}

.link{
  border: none;
  background: none;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: black;
  text-align: left; 
  text-decoration: none;
}

.current{
  color: #7262BF;
 
}