:root {
  --font: Effra;
  --boxHeight: 28.21px;
  --boxWidth: 184px;
}

.box {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, #8d55e6, #ae8ee0);
  flex-direction: row;
}

.logo {
  margin: auto;
  margin-left: 16px;
}

.menu {
  margin: auto;
  max-width: 18px;
  max-height: 18px;
  margin-right: 16px;
  margin-left: 0;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.closeIcon {
  content: url("../../static/Icons/close.svg");
  max-width: 18px;
  max-height: 18px;
}

.menuIcon {
  content: url("../../static/Icons/menu.svg");
  max-width: 18px;
  max-height: 18px;
}

.menuContainer {
  position: absolute;
  top: +43px;
  display: block;
  box-shadow: 0 1px 6px 0 #888;
  background-color: #f9f9f9;
  margin: auto;
  margin-bottom: 3px;
  padding: 0;
  width: 100%;
  transform-origin: 50% 0%;
  transform: perspective(800px) rotateX(-90deg);
  transition: transform 1s linear 0s;

  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 0;
    margin: auto;
    width: 80%;
    box-shadow: none;
    height: 40px;
    transition: transform 0s linear 0s;
    transform: perspective(800px) rotateX(0deg);
  }
}

.burgerButton {
  border: none;
  background: none;
  max-width: 18px;
  max-height: 18px;
  padding: 0;
  outline: 0;
}

.linkContainer {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    border-bottom: none;
    height: 40px;
    width: 15%;
  }
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 11px;
}

.nickname {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 40px;
    font-weight: bold;
    color: #7262bf;
    width: 20%;
  }
}

a {
  text-decoration: none;
  color: #7262bf;
}

a:hover {
  text-decoration: underline;
}
