*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 100%;
    background-color: #f9f9f9;
}
.list {
    width: 150px;
    margin: auto;
    display: block;
    text-align: center;
}

.profile_header {
    width: 100%;
    box-shadow: 0 10px 10px #ccc;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
    box-shadow: none;
    width: 730px;
    margin: auto;
    height: 160px;
    margin-bottom: 40px;
    padding-top: 3%;
    }
}
.header__image {
    height: 160px;
    width: 100%;
    background: url('/static/prof/page-small.svg') center center no-repeat;
    background-size: cover;
    margin: auto;
    @media screen and (min-width: 768px) { 
    background: url('/static/prof/page-medium.svg') center center /contain no-repeat;
    width: 730px;    
    height: 168px;     
     padding-bottom: 17px;
 }
    @media screen and (min-width: 1440px) {  
    position: relative;
    left: -12%;
    background: url('/static/prof/page-large.svg') center center /contain no-repeat;
    width: 900px; 
    height: 210px;
}}
.profile__edit{
    width: 48px;
    position: relative;
    left: +85%;
    border-radius: 100%;
    @media screen and (min-width: 768px) {
    left: +91%;
    }
    @media screen and (min-width: 1440px) {
    left: +93%;
    
    }
}
.profile__avatar {
    position: relative; 
    top: -45px;
    width: 90px;
    border-radius: 100%;
    height: 90px;
    margin: auto;
    background: url('/static/prof/Bitmap.jpg') center center no-repeat;
    background-size: cover;
    margin-bottom: - 100px;
    @media screen and (min-width: 768px) {
    top: -112px;
    left: -35%;
    }
    @media screen and (min-width: 1440px) {
    weight: 110px;
    top: -125px;
    left: -50%;
    
    }
    
}

.profile__list {
    position: relative; 
    top: -45px;
    list-style-type: none;
    text-align: center;
    font-family: Effra;  
    
     @media screen and (min-width: 768px) {
      top: -155px;
      left: -10%;
      width: 70%;
      display:flex;  
      float: right;
    }
    @media screen and (min-width: 1440px) {
     top: -148px;
    }
}



.profile__title {
    margin-top: 11px;
    color: #383838;
    font-family: Effra;  
    font-size: 13px;

    letter-spacing: 1px;
}

.profile__icon {
    margin-right: 3px;
    width: 10px;
    height: 10px;
}

.profile__text {
    letter-spacing: 1px;
    color: #afafaf;
    font-size: 11px;
    font-family: Effra;  
    text-transform: uppercase;
}

.profile_line {
    width: 100%;
    height: 40px;
    margin-top: -10px;
    margin-bottom: -20px;
    @media screen and (min-width: 768px) {
    display: none;
    }
}


.profile__item{
      @media screen and (min-width: 768px) {
     width: 80%;   
      }


}

.bottom{
    margin: auto;
    @media screen and (min-width: 768px) {
    width: 710px;
    height: 1000px;
   
    }
    @media screen and (min-width: 1440px) {
    width: 900px;
     }
}
.profile_box {
    background-color: #ffff;
    border-radius: 4px;
    border-size: 10px;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    box-shadow: 2px 10px 10px #ccc;
    @media screen and (min-width: 768px) {
    width: 730px;  
    margin: auto;  
    box-shadow: 2px 2px 10px #ccc;
    }
}
.request {
    width: 127px;
    height: 29px;
    background-color: #7262bf;
}