.select {
  appearance: none;
  background: #fff url("/static/Icons/select-arrow.svg") no-repeat 90% 50%;
  padding: 5px 35px 5px 5px;
  border: 1px solid #d9d9d9;
  outline: none;
  width: 100%;
  height: 30px;
  color: #000;
  font-family: "Effra";
  font-size: 11px;
}

.professions,
.universities {
  display: block;
  margin: auto;
  width: 44%;
  background-color: white;
  color: #5e4ab1;
  margin-bottom: 15px;
  height: 34px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 9px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.22);

  @media screen and (min-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
  }
}
