.container {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  @media screen and (min-width: 768px) {
    padding-top: 19px;
  padding-left: 34px;
  padding-right: 34px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 30px;
    padding-left: 62px;
    padding-right: 62px;
  }
}
.profile {
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.12);
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
  border-radius: 4px;
}
.profile img {
  width: 60px;
  height: 60px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }
}
.column {
  display: block;
  flex-flow: column;
  margin: 0 auto;
  margin-top:27px;
  margin-left: 0;
}
.row {
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  color: #afafaf;
  font-size: 11px;
  height: 10px;
  width: 63px;
  margin-left: 0;
}
.anna {
  margin: 0 auto;
  margin-bottom: 11px;
  font-size: 11px;
}
.row img {
  width: 6.78px;
  height: 10px;
  margin: 0 auto;
}
.row p {
  margin: 0 auto;
  margin-left: 3.22px;
}
.editBtn {
  background-image: url("/static/edit.jpg");
  background-size: cover;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border-width: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  margin-right: 5px;
  @media screen and (min-width: 768px) {
    width: 126px;
    height: 29px;
    background-color: #7262bf;
    background-image: none;
    border-radius: 100px;
    margin-top: 31px;
    margin-right: 40px;
  }
}
#edit {
  display: none;
  color: white;
  margin-top: 7px;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.navigation {
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
  padding-top: 1px;
  margin-bottom: 37px;
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: row;
    margin-bottom: 25px;
  }
}
.navigation p {
  font-size: 11px;
  margin: auto;
  margin-left: 23px;
  margin-top: 13px;
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    margin: auto;
    margin-top: 13px;
    margin-bottom: 13px;
  }
}
.line {
  margin: 0 auto;
  margin-left: 5px;
  display: block;
  width: 99%;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.conv {
  display: flex;
  flex-flow: row;
  color: #8045dd;
  margin: auto;
}
.conv p{
  margin-right: 5px;
  @media screen and (min-width: 768px) {
    margin: auto;
    margin-right:5px;
  }
}
.conv img {
  margin-top: 17px;
  width: 5px;
  height: 5px;
  @media screen and (min-width: 768px) {
    margin-top: 4px;
  }
}
.firstConversation {
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
  border-radius: 4px;
  padding-bottom: 19px;
  margin-bottom: 10px;
}
.secondConversation {
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-bottom: 19px;
}
.history {
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
  border-radius: 4px;
  margin-bottom: 60px;
  padding-bottom: 19px;
}
.first {
  display: flex;
  flex-flow: row;
}
.first img {
  margin-left: 20px;
  margin-top: 25px;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 20px;
}
.fullName {
  display: block;
  margin: auto;
  margin-left: 20px;
  margin-top: 32px;
  margin-bottom: 28px;
  height: 35px;
}
.fullName p{
  font-size: 11px;
  margin: 0 auto;
  margin-bottom: 9px;
}
.second {
  display: flex;
  flex-flow: row;
}
.calendar {
  margin: auto;
  width: 67px;
  margin-left: 20px;
}
.calendar img {
  margin: auto;
  display: block;
}
.calendar p{
  font-size: 11px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 0;
  color: #383838;
}
.duration {
  margin: auto;
  width: 39px;
  height: 50px;
}
.duration img {
  margin: auto;
  display: block;
}
.duration p{
  color: #383838;
  font-size: 11px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 0;
}

.connectBtn {
  width: 100px;
  border-radius: 100px;
  background-color: #7262bf;
  border-width: 0;
  color: white;
  height: 29px;
  margin-right: 20px;
  margin-top: 5px;
}
.confer p {
  font-size: 11px;
  color: #626262;
  margin-top: 0;
  margin-bottom: 10px;
}