.pricesFilter {
  display: block;
  margin: auto;
  margin-top: 10px;
  outline: none;
  width: 50%;
  background-color: #f9f9f9;
  height: 34px;
  padding-left: 10px;
  color: #626262;
  border: none;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 0;
    width: 30%;
  }
}

.hidden {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}
