*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #f9f9f9;
}

.list {
  width: 150px;
  margin: auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 5px;
    margin-right: 0;
  }
}

.profileContent {
  @media screen and (min-width: 768px) {
    width: 144px;
  }

  @media screen and (min-width: 1024px) {
    width: 177px;
  }
}

.profileEdit {
  width: 48px;
  position: relative;
  left: +85%;
  border-radius: 100%;

  @media screen and (min-width: 768px) {
    left: +91%;
  }

  @media screen and (min-width: 1440px) {
    left: +93%;
  }
}

.profileTitle {
  margin-top: 11px;
  color: #383838;
  font-family: Effra;
  font-size: 13px;
  letter-spacing: 1px;

  @media screen and (min-width: 768px) {
    width: 144px;
    font-size: 12px;
  }

  @media screen and (min-width: 1024px) {
    width: 177px;
    font-size: 13px;
  }
}

.profileIcon {
  margin-right: 3px;
  width: 10px;
  height: 10px;
}

.profileText {
  letter-spacing: 1px;
  color: #afafaf;
  font-size: 11px;
  font-family: Effra;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 11px;
  }
}

.profileItem {
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.profileBox {
  background-color: #ffff;
  border-radius: 4px;
  border-width: 10px;
  width: 90%;
  min-height: 80px;
  margin: 5% auto;
  box-shadow: 2px 10px 10px #ccc;

  @media screen and (min-width: 768px) {
    width: 730px;
    margin: auto;
    box-shadow: 2px 2px 10px #ccc;
  }
}
