.ModalDefault {
  height: 660px;
  width: 255px;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  overflow: auto;
  margin: auto;

  @media(min-width: 768px) {
    width: 426px;
    height: 453px;
    margin: auto;
  }
}

.OverlayModal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: #00FF1F;
}
h1, p {
  font-size: 11px;
  font-family: var(--font);
  color: #626262;
}
.container {
  width: 100%;
  margin: auto;
}
.container-div {
  width: 192px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  @media(min-width: 768px){
    width: 88%;
  }
}
.sign {
  font-family: var(--font);
  color: #4E4E4E;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 23px;
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    margin-top: 23px;
    margin-bottom: 5px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
}
.continuebtn-div {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 33px;
  @media(min-width: 768px){
    margin-top: 30px;
    margin-bottom: 18px;
    order: 8;
  }
}
.linkedinbtn-div {
    width: 100%;
    margin-bottom: 10px;
    @media(min-width: 768px){
    width: 152px;
    margin-left: 30px;
    margin-top: 2px;
    order: 1;}
}
.loginhere-div {
  margin-top: 16px;
  margin-bottom: 16px;
  @media(min-width: 768px){
    margin: -70px 0 0 30px;
    order: 4;}
}
.loginhere-div img {
  width: 192px;
  @media(min-width: 768px){
    width: 152px;
  }
}
.loginhere-div p {
  color: #626262;
  font-size: 12px;
}
.fullname {
  width: 192px;
}
.pwd {
  width: 192px;
}
.date {
  width: 192px;
  @media(min-width: 768px){
    margin-top: -50px;
    order: 2;
  }
}
.email{
  width: 192px;
  @media(min-width: 768px){
  order: 3;}
}