{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/html-has-lang": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "no-shadow": "off",
    "no-param-reassign": "off",
    "global-require": "off",
    "no-use-before-define": "off",
    "comma-dangle": ["error", "never"]
  }
}
