p {
  width: 260px;
  height: 84px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.31;
  text-align: center;
  color: #4f5362;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 265px;
  height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #4f5362;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.image {
  background: url('/static/images/Icon.jpg');
  width: 135px;
  height: 135px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    background: url('/static/images/IconBigger.jpg');
    width: 235px;
    height: 235px;
  }
}
