.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.08);

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.copyright {
  font-family: "Effra";
  font-size: 11px;

  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }
}

.menuLinks {
  margin-left: 21px;

  @media screen and (min-width: 768px) {
    display: flex;
    z-index: 0;
  }
}
