.footerContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  background-color: #fff;
  margin-top: 1px;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.08);

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.linkBlockTitle {
  font-size: 14px;
  color: #a8acb9;
  margin-bottom: 12px;
}

.gap {
  height: 10px;
}

.menuLinks {
  margin-bottom: 20px;
  width: 100%;
  margin-top: 30px;
  z-index: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 30px;
  }
}

.footerLinksBlock {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.linkButton {
  border: 0;
  text-decoration: none;
  color: #4f5362;
  outline: none;
  font-family: Effra;
  margin-top: 5px;
  font-size: 14px;
  background-color: transparent;
}
