.studentProfileContainer {
  width: 100%;
  height: 723px;
  margin: auto;
  background-color: #f9f9f9;
}

.pickProfileImageContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-left: 45px;
  margin-right: 30px;
  position: relative;
  font-size: 10px;
  font-weight: normal;
}

.pickProfileImageContainer input:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.overlayButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.studentProfileImage {
  background-color: rgba(0, 0, 0, 0.9);
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.profile {
  width: 170px;
  height: 229px;
  margin: auto;
  text-align: center;
}

.muiTextFieldBox {
  width: 100%;
}

.muibtnBox {
  width: 114px;
  margin: auto;
  margin-top: 40px;

  @media (min-width: 768px) {
    display: flex;
    width: 272px;
    justify-content: space-between;
    margin-left: -48px;
  }
}

a {
  font-size: 11px;
  color: #626262;
  font-weight: 400;
  font-family: "Efrra";
  text-decoration: none;
}

.studentProfileTitle {
  margin: 40px 0 30px;
  font-family: "Effra";
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.btn {
  margin: 15px 0;
  width: 126px;
}
