.signUpProfessionalModal {
  max-height: 765px;
  min-width: 255px;
  max-width: 426px;
  min-height: 460px;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  overflow: auto;
  margin: auto;
}

.signUpProfessionalOverlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpProfessionalContainer {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.signUpProfessionalContainer h1,
p {
  font-size: 11px;
  font-family: var(--font);
  color: #626262;
}

.signUpProfessionalBodyContainer {
  width: 192px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    width: 88%;
    height: 370px;
    margin: auto;
  }
}

::-webkit-scrollbar {
  display: none;
}

.signUpProfessionalHeaderDescription {
  width: 159px;
  font-size: 11px;
  color: #afafaf;
  text-align: center;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 284px;
  }
}

.signUpProfessionalHeaderTitle {
  font-family: var(--font);
  color: #4e4e4e;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 23px;
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    margin-top: 23px;
    margin-bottom: 5px;
  }
}

.loginButton {
  background: transparent;
  border: 0;
  text-decoration: none;
  font-size: 12px;
  color: #00ff1f;
}

.signUpProfessionalContinueButton {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 32px;
  }
}

.signUpProfessionalSocialContainer {
  width: 100%;

  @media screen and (min-width: 768px) {
    position: relative;
    margin-top: 30px;
    top: -179px;
    left: 214px;
    width: 40%;
  }
}

.signUpProfessionalSocialContainer p {
  margin-bottom: 10px;
}

.signUpProfessionalLoginContainer {
  margin-top: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    position: relative;
    margin-top: 40px;
    top: -270px;
    left: 67px;
    width: 40%;
  }
}

.signUpProfessionalLoginContainer img {
  width: 192px;

  @media screen and (min-width: 768px) {
    width: 152px;
  }
}

.signUpProfessionalLoginContainer p {
  color: #626262;
  font-size: 12px;
}
