.SignUpAsProfessional {
  height: 765 px;
  width: 255px;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  overflow: auto;
  margin: auto;

  @media (min-width: 768px) {
    width: 426px;
    height: 460px;
    margin: auto;
  }
}

.OverlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: #00ff1f;
}

h1,
p {
  font-size: 11px;
  font-family: var(--font);
  color: #626262;
}

.container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.container-div {
  width: 192px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;

  @media (min-width: 768px) {
    width: 88%;
    height: 370px;
    margin: auto;
  }
}

::-webkit-scrollbar {
  display: none;
}

.share {
  width: 159px;
  font-size: 11px;
  color: #afafaf;
  text-align: center;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 284px;
  }
}

.sign {
  font-family: var(--font);
  color: #4e4e4e;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 23px;
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    margin-top: 23px;
    margin-bottom: 5px;
  }
}

.continuebtn-div {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 32px;
  }
}

.linkedinbtn-div {
  width: 100%;

  @media (min-width: 768px) {
    position: relative;
    margin-top: 30px;
    top: -179px;
    left: 214px;
    width: 40%;
  }
}

.linkedinbtn-div p {
  margin-bottom: 10px;
}
.loginhere-div {
  margin-top: 16px;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    position: relative;
    margin-top: 40px;
    top: -270px;
    left: 67px;
    width: 40%;
  }
}

.loginhere-div img {
  width: 192px;

  @media (min-width: 768px) {
    width: 152px;
  }
}

.loginhere-div p {
  color: #626262;
  font-size: 12px;
}

.formInputsContainer {
  width: 192px;

  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.fullname {
  width: 192px;
  order: 1;
}

.email {
  width: 192px;

  @media (min-width: 768px) {
    margin-top: 8px;
    order: 5;
  }
}

.password {
  width: 192px;

  @media (min-width: 768px) {
    margin-top: 8px;
    order: 6;
  }
}

.date {
  width: 192px;

  @media (min-width: 768px) {
    order: 3;
  }
}


.country {
  width: 192px;

  @media (min-width: 768px) {
    margin-left: 25px;
    width: 40%;
    order: 2;
  }
}

.zipcode {
  width: 192px;

  @media (min-width: 768px) {
    width: 40%;
    margin-left: 25px;
    order: 4;
  }
}
