h1, p {
  font-family: var(--font);
  color: #626262;
}

.container {
  display: flex;
  align-items: center;
}

.share {
  width: 159px;
  font-size: 11px;
  color: #afafaf;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    width: 284px;
    margin-bottom: 22px;
  }
}

.sign {
  font-family: var(--font);
  color: #626262;
  width: 100%;
  text-align: center;
  font-size: 17px;
  display: block;
  margin: auto;
  margin-top: 23px;
  margin-bottom: 3px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    font-size: 17px;
    width: 100%;
    margin-top: 23px;
    margin-bottom: 5px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 23px;
    margin-top: 33px;
    width: 100%;
    margin-bottom: 25px;
  }
}

.signUp {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.inputBox {
  display: block;
  margin: auto;
  width: 190px;
  @media screen and (min-width: 768px) {
    margin-right: 31px;
    width: 173px;
  }
}
.inputBox1 {
  display: block;
  margin: auto;
  width: 190px;
  @media screen and (min-width: 768px) {
    width: 130px;
  }
}
.together {
  margin:  auto;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    margin-top: -155px;
    width: 139px;
    height: 111px;
  }
}
.inputBox2 {
  display: block;
  margin: auto;
  width: 190px;
  @media screen and (min-width: 768px) {
    width: 139px;
    margin-left: 5px;
    margin-top: 21px;
  }
}
.inputBox3 {
  display: block;
  margin: auto;
  width: 190px;
  margin-top: 19px;
  @media screen and (min-width: 768px) {
    height: 33px;
    width: 139px;
    margin-left: 5px;
    margin-top: -107px;
  }
}
.inputBox3 p {
  padding-bottom: 0;
}
#line {
  display: block;
  width: 181px;
  margin: auto;
  @media screen and (min-width: 768px) {
    width: 133px;
    margin-bottom: 11px;
  }
}
input::placeholder {
  padding-left: 5px;
  font-size: 9px;
  color: #777777;
}

.continueButton, .facebookButton, .googleButton {
  height: 31.21px;
  width: 190px;
  color: white;
  margin: auto;
  font-family: var(--font);
  border: 0;
  border-radius: 5px;

  @media screen and (min-width: 375px) {
   
  }

  @media screen and (min-width: 414px) {
   
  }
}

.continueButton {
  margin-top: 3px;
  background-color: #7262bf;
  margin-bottom: 33px;
  @media screen and (min-width: 768px) {
    width: 344px;
    margin-top: 133px;
    margin-left: -209px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 21px;
    width: 489px;
  }
}

.facebookButton {
  background-color: #2679b2;
  margin-top: 11px;
  margin-bottom: 19px;
  @media screen and (min-width: 768px) {
    width: 136px;
    height: 27px;
    margin-top: 0px;
  margin-bottom: 0px;
  }
}

.googleButton {
  background-color: #cb5541;
}

.loginButton {
  color: #00ff1e;
  font-size: 12px;
  font-weight: lighter;
  width: 81.59px;
  height: 15px;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: white;
  text-align: left;

  @media screen and (min-width: 768px) {
   margin-top: -22px;
  }

  @media screen and (min-width: 414px) {

  }
}

.image {
  width: 209px;
  margin-bottom: 21.66px;
}


p {
  font-size: 11px;
  margin: 0;
  padding-bottom: 4px;

  @media screen and (min-width: 375px) {
 
  }

  @media screen and (min-width: 414px) {
    
  }
}

input {
  margin-bottom: 18.79px;
  border-color: #d9d9d9;
  border-radius: 5px;
  border-style: double;
  height: 21px;
  width: 100%;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 414px) {
    
  }
}
