:root {
  --font: Effra;
  --boxHeight: 28.21px;
  --boxWidth: 184px;
}
.ssylka {
  font-size: 12px;
  color: #d9d9d9;
  margin: auto;
  width: 191px;
  margin-top: 29px;
  @media screen and (min-width: 768px) {
    padding-top: 8px;
    font-size: 11px;
    margin-top: 8px;
    width: 399px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 11px;
    font-size: 12px;
    margin-top: 8px;
    width: 441px;
  }
}

h1, p {
  font-family: var(--font);
  color: #626262;
}

input::placeholder {
  padding-left: 5px;
  font-size: 9px;
  color: #777777;
}

p {
  font-size: 11px;
  margin: 0;
  padding-bottom: 4px;

  @media screen and (min-width: 375px) {
 
  }

  @media screen and (min-width: 414px) {
    
  }
}

input {
  margin-bottom: 18.79px;
  border-color: #d9d9d9;
  border-radius: 5px;
  border-style: double;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 375px) {
   
  }

  @media screen and (min-width: 414px) {
    
  }
}

.signUpText {
  font-family: var(--font);
  color: #626262;
  width: 100%;
  text-align: center;
  font-size: 17px;
  display: block;
  margin: auto;
  margin-top: 44px;
  margin-bottom: 31px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    font-size: 21px;
    width: 100%;
    margin-top: 37px;
    margin-bottom: 29px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 25px;
    margin-top: 44px;
    width: 100%;
    margin-bottom: 25px;
  }
}

.firstTxt p{
  text-align: left;
  font-family: var(--font);
  color: #626262;
  width: 201px;
  font-size: 15px;
  display: block;
  margin: auto;
  margin-top: 19px;
  margin-bottom: 7px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    font-size: 13px;
    width: 100%;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 13px;
  }
}


.codeForm {
  width: 190px;
  margin: auto;
  margin-top: 33px;
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 429px;
    flex-flow: row;
    margin-top: 21px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    width: 477px;
    flex-flow: row;
    margin-top: 35px;
  }
}
.codeInput {
  display: block;
  font-size: 12px;
  margin: auto;
  border-color: #d9d9d9;
  color: #d9d9d9;
  text-align: left;
  border-radius: 5px;
  border-style: double;
  height: 28px;
  width: 184px;
  margin-bottom: 5px;
  
  @media screen and (min-width: 768px) {
    margin-right: 9px; 
  }
  @media screen and (min-width: 1440px) {
    width: 223px;
  }
}

.codeInput::placeholder {
  font-size: 13px;
  margin: auto;
  color: #d9d9d9;
  text-align: left;
}

.sendAgain {
  display: block;
  margin: auto;
  padding-left: 0px;
  font-size: 12px;
  color: #d9d9d9;
  text-align: left;
  width: 190px;
  margin-top: 13px;
  @media screen and (min-width: 768px) {
    margin-left: 9px; 
    width: 222px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 9px; 
    font-size: 12px;
    width: 229px;
  }
}

.createButton {
  margin: auto;
  height: 28px;
  width: 193px;
  color: white;
  display: block;
  font-family: var(--font);
  border: 0;
  margin-top: 27px;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #7262bf;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 429px;
    margin-top: 22px;
    height: 33px;
  }
  @media screen and (min-width: 1440px) {
    width: 475px;
    height: 34px;
    margin-top: 31px;
  }
}


