*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.profile_box {
    background-color: #ffff;
    border-radius: 4px;
    border-size: 10px;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    box-shadow: 2px 10px 10px #ccc;
    @media screen and (min-width: 768px) {
    width: 730px;  
    margin: auto;  
    box-shadow: 2px 2px 10px #ccc;
    }
}
.box_title {
    width: 77px;
    float: left;
    font-size: 11px;
    text-align: left;
    font-family: Effra;    
    padding: 16px;
    padding-right: 0px;
    @media screen  and (min-width: 768px) {
        padding-bottom: 0;
    }
    @media screen  and (min-width: 1440px) {
        padding-bottom: 0;
        width: 70%;
    }

}
.box_title p {
    width: 103px;
    margin-right: 0;
}

.box__edit{
        display: none;
    width: 20%;
    float: right;
    width: 38px;
}

.meeting{
    padding-bottom: 15px;
    height: 139px;
    @media screen and (min-width: 768px) {
     width: 240px;   
     float: right;
     padding-bottom: 10px;
     height: 134px;
    }
    @media screen and (min-width: 1024px) {
    width: 149px;
    margin-top: 0;
    margin-right: 0;
    order: 3;
    }

}
.meeting_buttons{
    @media screen and (min-width: 768px) {
    height: 90px;
    }
}
.meeting_clock {
    padding-top: 13px;
    width: 68px;
    height: 48px;
    margin: auto;
    
}
.meeting_clock p {
    font-size: 11px;
    color: #383838;
}
.meeting_clock img {
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.meeting_button_inperson{
    float: left;
    margin-left: 7%;
    margin-bottom: auto;
    font-size: 11px;
    font-family: Effra;  
    width: 40%; 
    height: 22px;      
    background-color: #BEFCAF;
    color: white;
    border:none;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
    float: none;
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    }

}
.meeting_button_online{
    float: right;
    margin-right: 7%;
    font-size: 11px;
    font-family: Effra;  
    width: 40%;    
    height: 22px; 
    background-color: #BEFCAF;  
    color: white;
    border:none;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
    float: none;
    margin: auto; 
    width: 60%;  
    display: block;
    
    }

}

.half:after {
    content: '';
    display: block;
    clear: both;
}

#half {
    @media screen and (min-width: 768px) {
        width: 50%;
    }
     @media screen and (min-width: 1440px) {
        width: 100%;
    }
}