body {
  margin: 0;
  background-color: #f9f9f9;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('static/Fonts/Fonts.ttf') format('truetype');
}

.content {
  font-family: 'Effra', sans-serif;
  min-height: 90vh;
}
