.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  min-width: 230px;
}

.headerTitleContainer {
  height: 100%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profileImage {
  width: 30px;
  border-radius: 50%;
}

.headerTitle {
  color: var(--white);
  font-family: "Effra";
  font-size: 11px;
  margin: 0 2px;
}

.headerTitleHighlight {
  font-weight: 900;
}
