.wrapper {
	@media screen and (min-width: 1024px) {
		width: 900px;
		margin: auto;
	}
}

.content {
	position: relative;
	display: flex;
	align-items: center;
	margin: 15px;

	@media screen and (min-width: 768px) {
		margin: 20px 40px;
	}
}

.userPhoto {
	width: 62px;
	height: 62px;
	margin-right: 17px;
	background: url('/static/user_profile_photo.jpeg') center center no-repeat;
	background-size: cover;
	border-radius: 100%;
}

.userName,
.userLocation {
	margin: 0;
	font-size: 11px;
	color: #383838;
	text-transform: uppercase;
}

.userLocation {
	position: relative;
	padding-left: 13px;
	margin-top: 10px;
	font-weight: 700;
	color: #afafaf;

	&:before {
		content: '';
		position: absolute;
		top: 2px;
		left: 1px;
		width: 7px;
		height: 10px;
		background: url('/static/ic_location.svg') center center no-repeat;
	}
}

.edit {
	position: absolute;
	top: 0;
	right: 0;
}

.editIcon {
	width: 20px;
	height: 20px;
	background: white url('/static/ic_edit.svg') center center no-repeat;
	border-radius: 100%;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.editButton {
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		height: 100%;
	}
}

.editButton button {
	@media screen and (min-width: 768px) {
		width: 126px;
		height: 29px;
		background-color: #7262bf;
		border: none;
		border-radius: 100px;
		font-size: 11px;
		color: white;
	}
}