.roundedButtonContainer {
  width: 100%;
  height: 29px;
}

button {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #7262bf;
  color: var(--white);
  outline: none;
  border-radius: 15px;
  font-size: 11px;
  font-family: "Effra";
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.22);
}

button :disabled {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #BBB4DE;
  color: var(--white);
  outline: none;
  border-radius: 15px;
  font-size: 11px;
  font-family: "Effra";
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.22);
}