.container {
  display: block;
  background-color: #f9f9f9;
}

.sortButtonsWrap {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #979797;
}

.sortButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.sortButton {
  width: 50%;
  color: #7262bf;
  font-size: 11px;
  border: 0;
  background-color: transparent;
}

.searchBlock {
  display: none;
  width: 100%;
  padding: 23px 45px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.searchTitle {
  font-size: 11px;
  color: #383838;
  margin: 0 0 20px;
}

.searchBar {
  width: 100%;
  padding: 11px 14px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12);
}

.searchBar::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #afafaf;
    font-size: 11px;
}
.searchBar:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #afafaf;
    font-size: 11px;
    opacity: 1;
}
.searchBar::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #afafaf;
    font-size: 11px;
    opacity: 1;
}
.searchBar:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #afafaf;
    font-size: 11px;
}

.filterButton {
  width: 50%;
  color: #7262bf;
  font-size: 11px;
  border: 0;
  background-color: transparent;
}

.hr {
    border: none;
    background-color: #979797;
    height: 24px;
    width: 1px;
}

.universitiesWrap {
  display: flex;
  padding-bottom: 20px;
}

.leftSide {
  display: none;

  @media screen and (min-width: 768px) {
    width: 20%;
    display: block;
    margin-left: 45px;
  }
}

.dropdownButtons {
  display: block;
}

.dropdownButton {
  display: block;
  font-size: 11px;
  color: #7262bf;
  width: 134px;
  height: 34px;
  background-color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}

.filterCheckboxes {
  display: block;
}

.filterCheckboxWrap {
  display: block;
  margin-bottom: 10px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + span,
[type="checkbox"]:checked + span {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + span:before,
[type="checkbox"]:checked + span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.05);
  margin-top: -2px;
}

.checkboxLabel {
  font-size: 11px;
  color: #7262bf;
}

.rightSide {
  width: 100%;
  display: block;
  margin-right: 15px;

  @media screen and (min-width: 768px) {
    width: 80%;
    margin-right: 45px;
  } 
}

.filterLabels {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 15px;
  }
}

.filterOption {
  color: #afafaf;
  font-size: 9px;
  display: inline-block;
  margin: 15px 70px 15px 0;
  margin-right: 70px;
}

.universityCard {
  background-color: #fff;
  margin-top: 12px;
  margin-left: 15px;
  border-radius: 9px;
  padding: 13px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.22);

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 0;
    padding-right: 27px;
  }
}

.universityLogoWrapper {
  display: flex;
}

.universityLogo {
  background: url('/static/uni-logo-placeholder.jpg') center center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 7px;

  @media screen and (min-width: 768px) {
    width: 110px;
    height: 110px;
  }
}

.detailsWrap {
  display: flex;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-left: 15px;
  }
}

.ranking {
  color: #afafaf;
  font-size: 11px;
  margin-left: 10px;
  margin-top: 18px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.details {
  display: block;
  width: 70%;
  margin-left: 22px;
  margin-top: -77px;

  @media screen and (min-width: 768px) {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.description {
  display: block;
}

.title {
  color: #383838;
  font-size: 11px;
}

.about {
  color: #afafaf;
  font-size: 11px;
  height: 40px;
}

.facts {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
    width: 165px;
    height: 100%;
    margin-left: 20px;
  }
}

.fact {
  display: inline-block;
  color: #d9d9d9;
  font-size: 11px;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: block;
    width: 126px;
    margin-bottom: -20px;
  }
}

.button {
  border: none;
  background-color: #7262BF;
  color: white;
  border-radius: 15px;
  width: 85px;
  height: 30px;
  font-size: 11px;

  @media screen and (min-width: 768px) {
    display: block;
    width: 126px;
    margin-bottom: 15px;
  }
}
