.section3 {
  width: 243px;
  height: 370px;
  margin: 0 auto 50px;
  display: flex;
  flex-flow: column;
  border: 0.1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #fff;
  outline: none;

  @media (min-width: 768px) {
    margin-top: 10px;
    width: 590px;
  }

  @media (min-width: 1024px) {
    float: right;
    width: 243px;
    margin-top: -496px;
    margin-right: 20px;
  }
}

.chatbox {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  height: 277px;

  @media (min-width: 768px) {
    margin-top: 20px;
  }
}

.dialog {
  width: 203px;
  height: 24px;
  display: flex;
  margin: 10px auto;

  @media (min-width: 768px) {
    width: 90%;
    margin: 10px auto;
  }
}

.dialog p {
  margin: 0;
  font-size: 11px;
  font-family: "Effra";
  color: #000;
}

.dialog-username {
  width: 35px;
}

.dialog-username h5 {
  margin: 0;
  font-family: "Effra";
  font-size: 12px;
}

.dialog-text {
  margin-left: 15px;
}

.dialogbox-send {
  width: 213px;
  margin: 20px auto 0;
  display: flex;

  @media (min-width: 768px) {
    width: 553px;
    margin: auto;
    order: 1;
  }

  @media (min-width: 1024px) {
    width: 213px;
    margin: auto;
    order: 1;
  }
}

.input-elem {
  width: 183px;
  height: 35px;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f4f4f4;
  outline: none;
  box-sizing: border-box;
  padding: 8px 30px 8px 10px;

  @media (min-width: 768px) {
    width: 513px;
  }

  @media (min-width: 1024px) {
    width: 183px;
  }
}

.send-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
