.section3 {
  width: 243px;
  height: 370px;
  margin: 0 auto 50px;
  display: flex;
  flex-flow: column;
  border: 0.1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #fff;
  outline: none;

  @media (min-width: 768px) {
    margin-top: 10px;
    width: 590px;
  }

  @media (min-width: 1024px) {
    float: right;
    width: 243px;
    margin-top: -496px;
    margin-right: 20px;
  }
}

.chatbox {
  width: 90%;
  margin: auto;
  height: 277px;
}

.dialogbox-send {
  width: 213px;
  margin: 20px auto 0;
  display: flex;

  @media (min-width: 768px) {
    width: 553px;
    margin: auto;
    order: 1;
  }

  @media (min-width: 1024px) {
    width: 213px;
    margin: auto;
    order: 1;
  }
}
.send-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input-elem {
  height: 32px;
  outline: none;
  padding-left: 8px;
  border: 1px solid #fafafa;
  background-color: #F7F0F0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
