p {
  font-size: 11px;
  font-family: "Effra";
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
}
.section1 {
  width: 100%;
  height: 223px;
  margin: 0;
  background-color: grey;
  @media (min-width: 768px) {
    width: 610px;
    height: 425px;
    margin: auto;
  }
}
.section2 {
  width: 243px;
  height: 40px;
  display: flex;
  margin:  30px auto;
  @media (min-width: 768px) {
    width:610px;
    order:-1;
    margin: 56px auto 20px auto;
  }
}
.section3 {
  width: 243px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-flow: column;
  border: .1px solid #D9D9D9;
  border-radius: 5px;
  background-color: #FFFFFF;
  outline: none;
  @media (min-width: 768px) {
    width: 593px;
    margin: 20px auto 59px auto;
  }
}
#profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#profileDetails {
  margin-left: 15px;
}
#name {
  padding: 5px 0;
}
#smp {
  padding-left: 3px;
  color: #AFAFAF;
}
#smn {
  padding-top: 6px;
  padding-left: 48px;
  font-size: 24px;
  @media (min-width: 768px) {
    padding-left: 400px;
  }
}
#chatbox {
  margin: 20px;
}
.dialog {
  display: flex;
  margin: 10px 0;
}
.smp1 {
  width: 39px;
}
.smp1 h4 {
  margin: 0;
  font-size: 12px;
}
.smp2 {
  margin-left: 15px;
}
.smp2 p {
  font-size: 10px;
  font-weight: normal;
}
#fo {
  display: flex;
  height:35px;
  width:213px;
  margin: 20px 0 0 6px;
  @media (min-width: 768px) {
    margin: 0 15px 20px 15px;
    order: 2;
  }
}
#fo1 {
  width: 178px;
  height:31px;
  border: .1px solid #D9D9D9;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  background-color: #F4F4F4;
  outline: none;
  font-size: 11px;
  margin: auto;
  padding-left: 15px; 
  @media (min-width: 768px) {
    width: 512px;
  }
}
#fo2 {
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}