p {
  font-size: 11px;
  font-family: "Effra";
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
}

.section1 {
  height: 223px;
  margin: 0;
  background-color: grey;
  @media (min-width: 768px) {
    width: 610px;
    height: 425px;
  }
}

.section2 {
  display: flex;
  width: 243px;
  height: 40px;
  margin: 30px auto;
  @media(min-width: 768px) {
    margin: 56px auto 20px auto;
    width: 610px;
    order: -1;
  }
}

.section3 {
  width: 243px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-flow: column;
  border: .1px solid #D9D9D9;
  border-radius: 5px;
  background-color: #FFFFFF;
  outline: none;
  @media (min-width: 768px) {
    width: 593px;
    margin: 20px auto 59px auto;
  }
}

.profile-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-info {
  margin: auto;
  margin-left: 15px;
}

.profile-city {
  display: flex;
}

.profile-timer {
  margin-top: 5px;
}

#city {
  color: #AFAFAF;
  padding-left: 4px;
}

#timer {
  font-size: 24px;
}

.section3 {
  width: 243px;
  height: 370px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-flow: column;
  border: .1px solid #D9D9D9;
  border-radius: 5px;
  background-color: #FFFFFF;
  outline: none;
  @media(min-width: 768px) {
    margin-top: 10px;
    width: 590px;
  }
}

.chatbox {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  height: 277px;
  @media(min-width: 768px) {
    margin-top: 20px;
  }
}

.dialog {
  width: 203px;
  height: 24px;
  display: flex;
  margin: 10px auto;
  @media(min-width: 768px) {
    width: 90%;
    margin: 10px auto;
  }
}

.dialog p {
  margin: 0;
  font-size: 11px;
  font-family: "Effra";
  color: #000000;
}

.dialog-username {
  width: 35px;
}

.dialog-username h5 {
  margin: 0;
  font-family: "Effra";
  font-size: 12px;
}

.dialog-text {
  margin-left: 15px;
}

.dialogbox-send {
  width: 213px;
  margin: 20px auto 0 auto;
  display: flex;
  @media(min-width: 768px) {
    width: 553px;
    margin: auto;
    order: 1;
  }
  @media(min-width: 1024px) {
    width: 213px;
    margin: auto;
    order: 1;
  }
}

.input-elem {
  width: 183px;
  height: 35px;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #F4F4F4;
  outline: none;
  box-sizing: border-box;
  padding: 8px 30px 8px 10px;
  @media(min-width: 768px) {
    width: 513px;
  }
}

.send-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}