.foundedUniversityContainer {
  margin-top: 12px;
  margin-left: 15px;
  margin-bottom: 19px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.universityContainer {
  padding: 13px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-right: 27px;
  }
}

.universityLogo {
  background: url('/static/uni-logo-placeholder.jpg') center center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 7px;

  @media screen and (min-width: 768px) {
    width: 101px;
    height: 101px;
  }
}

.detailsWrapper {
  display: flex;
  width: 90%;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-left: 15px;
  }
}

.rank {
  color: #afafaf;
  font-size: 11px;
  margin-left: 10px;
  margin-top: 18px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.detailsContainer {
  display: block;
  margin-left: 22px;
  margin-top: -77px;

  @media screen and (min-width: 768px) {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.generalInfo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 14px;
  width: 90%;

  @media screen and (min-width: 1024px) {
    width: 51%;
  }
}

.title {
  color: #383838;
  font-size: 11px;
  margin: 0;
}

.description {
  color: #afafaf;
  font-size: 11px;
  height: 40px;
  margin: 0;
  margin-top: 6px;
}

.factsContainer {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
    width: 165px;
    height: 100%;
    margin-left: 20px;
  }
}

.fact {
  display: inline-block;
  color: #d9d9d9;
  font-size: 11px;
  margin: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    width: 126px;
    height: 70px;
    margin-left: 46px;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 10px;
  }
}

.actionButton {
  width: 50%;

  @media screen and (min-width: 768px) {
    width: 126px;
  }
}
