*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile_header {
    width: 100%;
    box-shadow: 0 10px 10px #ccc;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
    box-shadow: none;
    width: 730px;
    margin: auto;
    height: 160px;
    padding-top: 3%;
    }
}
.header__image {
    height: 160px;
    width: 100%;
    background: url('/static/prof/page-small.svg') center center no-repeat;
    background-size: cover;
    @media screen and (min-width: 768px) {
    margin: auto; 
    background: url('/static/prof/page-medium.svg') center center /contain no-repeat;
    width: 680px;     
 }
}
.profile__edit{
    width: 48px;
    position: relative;
    left: +85%;
    border-radius: 100%;
    @media screen and (min-width: 768px) {
    position: relative;
    left: +90%;
    
    }
}
.profile__avatar {
    position: relative; 
    top: -45px;
    width: 90px;
    border-radius: 100%;
    height: 90px;
    margin: auto;
    background: url('/static/prof/Bitmap.jpg') center center no-repeat;
    background-size: cover;
    margin-bottom: - 100px;
    @media screen and (min-width: 768px) {
    position: relative; 
    top: -112px;
    left: -35%;
    }
    
}

.profile__list {
    position: relative; 
    top: -45px;
    list-style-type: none;
    text-align: center;
    font-family: Effra;  
    
     @media screen and (min-width: 768px) {
      position: relative;
      top: -140px;
      left: -10%;
      width: 70%;
      display:flex;  
      float: right;
    }
}



.profile__title {
    color: #383838;
    font-family: Effra;  
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}

.profile__icon {
    margin-right: 3px;
    width: 10px;
    height: 10px;
}

.profile__text {
    color: #afafaf;
    font-size: 11px;
    font-weight: bold;
    font-family: Effra;  
    text-transform: uppercase;
}

.profile_line {
    width: 100%;
    height: 40px;
    margin-top: -10px;
    margin-bottom: -20px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}


.profile__item{
      @media screen and (min-width: 768px) {
     width: 80%;   
      }


}
.bottom{
     @media screen and (min-width: 768px) {
    width: 674px;
    height: 1000px;
    margin: auto;
     }
}
.profile_box {
    border-radius: 4px;
    border-size: 10px;
    background-color: f9f9f9;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    box-shadow: 2px 10px 10px #ccc;
    @media screen and (min-width: 768px) {
    width: 730px;  
    margin: auto;  
    box-shadow: 2px 2px 10px #ccc;
    }
}
.box_title {
    width: 76%;
    float: left;
    font-size: 11px;
    text-align: left;
    font-family: Effra;    
    padding: 16px;
    font-weight: bold;

}
.box__edit{
    width: 20%;
    float: right;
    width: 38px;
}
.about{
    @media screen and (min-width: 768px) {
    position: relative;
    top: -12%;
    float: left;
    width: 70%;
    margin: auto;

      }
}   
.about_content{
    font-size: 11px;
    font-family: Effra;
    padding:15px;

}

.meeting{
    @media screen and (min-width: 768px) {
     width: 25%;   
     float: right;
     position: relative;
     top: -12%;
     padding-bottom: 10px;
     height: 134px;
      }
}
.meeting_buttons{
    @media screen and (min-width: 768px) {
    height: 90px;
    }
}


.meeting_button_inperson{
    float: left;
    margin-left: 7%;
    margin-bottom: auto;
    font-size: 11px;
    font-family: Effra;  
    width: 40%; 
    height: 22px;      
    background-color: #BEFCAF;
    color: white;
    border:none;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
    float: none;
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    }

}
.meeting_button_online{
    float: right;
    margin-right: 7%;
    font-size: 11px;
    font-family: Effra;  
    width: 40%;    
    height: 22px; 
    background-color: #BEFCAF;  
    color: white;
    border:none;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
    float: none;
    margin: auto; 
    width: 60%;  
    display: block;
    }

}

.half:after {
    content: '';
    display: block;
    clear: both;
}

.calendar{
    @media screen and (min-width: 768px) {
     position: relative;
     float: left;
     width: 70%;   
     margin: auto;
     position: relative;
     top: -10%;

      }
}

.calendar_days{
    margin-left: 15%;
    width: 70%;
}
.calendar_caption{
    font-size: 11px;
    font-family: Effra;
    padding: 15px;

    
}

.calendar_button{
   width: 100%; 
   background-color: #BEFCAF;
   color: white;
   border:none;
   border-radius: 10px;
}
.calendar_table{
    width:100%;
    font-size: 11px;
    font-family: Effra;
    padding-bottom: 10px;
}
.calendar_left{
    width: 5px;
    margin-left: +88%;
}
td{
    width: 11%;
}


.active{
    background-color: #46F61A;
}
.unactive{
    background-color: #BEFCAF;
}