.JoinSecondModal {
  width: 255px;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  outline: none;
  margin:auto;

  @media(min-width: 768px) {
    width: 407px;
    height: 292px;
    margin: auto;
  }
}
.OverlayModal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  margin: auto;
}
.head-text {
  margin: auto;
  text-align: center;
}

.sign {
  font-family: "Effra";
  font-size: 15px;
  font-weight: bold;
  color: #4E4E4E;
  margin: 23px auto 5px auto;
}
.share {
  margin: 0 auto 16px auto;
  font-family: "Effra";
  font-size: 11px;
  color: #AFAFAF;
}
.share2 {
  width: 156px;
  @media(min-width: 768px) {
    width: 290px;
  }
}
.share-div {
  text-align: center;
  margin: 5px auto 17px auto;
}
.share-div a {
  text-decoration: none;
}
.container-box {
  width: 192px;
  margin: auto;
  @media(min-width: 768px){
    width: 349px;
  }
}
.box {
  @media(min-width: 768px){
    display: flex;
  }
}
.boxie {
  margin-bottom: 15px;
}
.boxie p {
  margin: 0;
  margin-bottom: 4px;
  font-size: 11px;
  font-family: "Effra";
  color: #626262;
}
.p-box {
  @media(min-width: 768px) {
    padding: 16px 0 0 26px;
  }
}
.input {
  height: 29px;
  width: 186px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  outline: none;
}

input::placeholder {
  padding-left: 8px;
  font-size: 11px;
  color: #AFAFAF;
}
.box2 {
  display: flex;
  flex-flow: column;
}
.btn {
  width: 100%;
  height: 29px;
  background-color: #7262BF;
  border: 1px solid #7262BF;
  border-radius: 5px;
  color: white;
}
.share-div {
  @media (min-width: 768px){
    order: -1;
  }
}