.friend {
  box-shadow: 2px 2px 10px #ccc;
  background-color: #ffff;
    border-radius: 4px;
    border-size: 10px;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    margin-top: 10px;
    box-shadow: 2px 10px 10px #ccc;
    @media screen and (min-width: 768px) {
    width: 730px;  
    margin: auto;  
    box-shadow: 2px 2px 10px #ccc;
    }
  
}
.row {
  display: flex;
  flex-flow: row;
}
.column {
  flex-flow: column;
  margin-top: 23px;
}
button:focus {outline:0;}
.column p{
  font-size: 11px;
  color: #383838;
  margin: auto;
  margin-top: 9px;
}
.zagolovok {
  display: block;
  margin: auto;
  margin-left: 5%;
  margin-bottom: 0px;
  font-size: 11px;
  color: #626262;
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}
#zagolovok {
  @media screen and (min-width: 768px){

}
@media screen and (min-width: 1024px){
}
}
.friend img {
  margin-top: 25px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.conv {
  color: black;
  font-size: 11px;
  margin: auto;
  margin-left: 23px;
  margin-top: 13px;
  margin-bottom: 14px;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    margin: auto;
    margin-bottom: 13px;
  }

}
.conv img {
  display: block;
}
.line {
  margin: 0 auto;
  margin-left: 5px;
  display: block;
  width: 99%;
  @media screen and (min-width: 768px) {
    display: none;
}
}
.conv {
  display: flex;
  flex-flow: row;
  color: #8045dd;
  margin: auto;
}
.conv a {
  margin-left: 0;
   margin-top: 13px;
  margin-bottom: 14px;
}
.conv{
  margin-left: 23px;
  margin-right: 5px;
  color: #8045dd;
  @media screen and (min-width: 768px) {
    margin: auto;
    margin-right:5px;
  }
}
.conv img {
  margin-top: 17px;
  width: 5px;
  height: 5px;
  @media screen and (min-width: 768px) {
    margin-top: 4px;
  }
}
.firstConversation {
  margin: 5% auto;
  box-shadow: 2px 2px 10px #ccc;
  background-color: #ffff;
    border-radius: 4px;
    border-size: 10px;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    margin-top: 10px;
    box-shadow: 2px 10px 10px #ccc;
  border-radius: 4px;
  padding-bottom: 19px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 25px;
  }
}
.secondConversation {
  border-radius: 4px;
  padding-bottom: 19px;
  box-shadow: 2px 2px 10px #ccc;
  background-color: #ffff;
    border-radius: 4px;
    border-size: 10px;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    margin-top: 10px;
    box-shadow: 2px 10px 10px #ccc;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
    @media screen and (min-width: 1024px) {
    margin-bottom: 25px;
  }
}
.history {
  border-radius: 4px;
  margin-bottom: 60px;
  padding-bottom: 19px;
  box-shadow: 2px 2px 10px #ccc;
  background-color: #ffff;
    border-radius: 4px;

    border-size: 10px;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    margin-top: 10px;
    box-shadow: 2px 10px 10px #ccc;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: row;
    margin-bottom: 109px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
.first {
  display: flex;
  flex-flow: row;
}
.first img {
  margin-left: 20px;
  margin-top: 25px;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 20px;
}
.fullName {
  margin: auto;
  margin-left: 20px;
  margin-top: 32px;
  margin-bottom: 28px;
  height: 35px;
}
.fullName p{
  font-size: 11px;
  margin: 0 auto;
  margin-bottom: 9px;
}
.second {
  display: flex;
  flex-flow: row;
  @media screen and (min-width: 768px){
  display: flex;
  flex-flow: row;
  width: 81%;
}
}
.calendar {
  margin: auto;
  width: 67px;
  margin-left: 20px;
}
.calendar img {
  margin: auto;
  display: block;
  margin-bottom: 7px;
}
.calendar p{
  font-size: 11px;
  text-align: center;
  margin-bottom: 0;
  color: #383838;
}
.duration {
  margin: auto;
  width: 39px;
  margin-top: 5px;
  height: 50px;
  margin-right: 29px;
}
.duration img {
  margin: auto;
  display: block;
  margin-bottom: 7px;
}
.duration p{
  color: #383838;
  font-size: 11px;
  text-align: center;
  margin-bottom: 0;
}

.connectBtn {
  width: 100px;
  border-radius: 100px;
  background-color: #7262bf;
  border-width: 0;
  color: white;
  height: 29px;
  margin: auto;
  margin-right: 20px;
  margin-top: 5px;
  @media screen and (min-width: 768px) {
    margin-top: 37px;
  }
}
.confer p {
  font-size: 11px;
  color: #626262;
  margin-top: 0;
  margin-bottom: 10px;
}
.together {
  display: flex;
  flex-flow: row;
  width: 199px;
  @media screen and (min-width: 768px) {
    margin-top: 25px;
  }
}

.acceptBtn {
  width: 100px;
  border-radius: 100px;
  background-color: #73df58;
  border-width: 0;
  color: white;
  height: 29px;
  margin: auto;
  margin-right: 20px;
  margin-top: 5px;
  @media screen and (min-width: 768px) {
    margin-top: 37px;
  }
}
.declineBtn {
  width: 100px;
  border-radius: 100px;
  background-color: #766f95;
  border-width: 0;
  color: white;
  height: 29px;
  margin: auto;
  margin-right: 20px;
  margin-top: 5px;
  @media screen and (min-width: 768px) {
    margin-top: 37px;
    margin-right: 5px;
  }
}
.accept {
  margin: auto;
  margin-right: 0px;
  display: flex;
  flex-flow: column;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: row;
  }
}