.videoChatContainer {
  width: 100%;
  max-width: 900px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;

  @media screen and (min-width: 768px) {
    flex-flow: column;
    margin-top: 56px;
  }

  @media screen and (min-width: 1024px) {
    margin: auto;
    margin-top: 56px;
  }
}

.videoConversationWrapper {
  order: 1;
  width: 100%;
  min-height: 223px;

  @media screen and (min-width: 768px) {
    order: 2;
    width: 610px;
    height: 425px;
  }

  @media screen and (min-width: 1024px) {
    order: 1;
  }
}

.profileInfoWrapper {
  order: 2;
  width: 243px;
  padding: 30px 38px;

  @media screen and (min-width: 768px) {
    order: 1;
    width: 610px;
  }

  @media screen and (min-width: 1024px) {
    width: 243px;
    order: 2;
  }
}

.chatWrapper {
  order: 3;
  width: 243px;
  padding: 30px 38px;

  @media screen and (min-width: 768px) {
    width: 593px;
  }

  @media screen and (min-width: 1024px) {
    width: 243px;
  }
}
