.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: #F9F9F9;
  @media(min-width: 1024px){
    width: 900px;
    margin: auto;
    display: block;
    background-color: white;
  }
}
