.container {
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 578px) {
    height: calc(100vh - 48px - 36px - 25px);
  }
}

.start {
  width: 100%;
  padding: 26px 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Effra;
  font-weight: normal;
  font-size: 15px;

  @media screen and (min-width: 768px) {
    font-size: 25px;
  }
}

.chooseBoxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 723px;
    margin-bottom: 0;
    justify-content: space-between;
  }

  @media screen and (min-width: 1024px) {
    width: 925px;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;

  @media screen and (min-width: 538px) {
    padding: 0 10px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    padding: 0;
  }
}

.professionalsBox {
  width: 269px;
  height: 191px;
  background: url("/static/ProfessionalsImage.jpg") center center /cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 351px;
    height: 249px;
    background: url("/static/BiggerProfessional.jpg") center center /cover no-repeat;
  }

  @media screen and (min-width: 1024px) {
    width: 448px;
    height: 319px;
    background: url("/static/BiggerProfessional.jpg") center center /cover no-repeat;
  }
}

.universityBox {
  width: 269px;
  height: 191px;
  background: url("/static/UniversityImage.jpg") center center /cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 351px;
    height: 249px;
    background: url("/static/BiggerUniversity.jpg") center center /cover no-repeat;
  }

  @media screen and (min-width: 1024px) {
    width: 448px;
    height: 319px;
    background: url("/static/BiggerUniversity.jpg") center center /cover no-repeat;
  }
}

.text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  padding: 20%;

  & h1 {
    width: 100%;
    font-family: Effra;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #383838;
    font-weight: normal;

    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
  }

  & p {
    width: 78%;
    font-family: Effra;
    font-size: 9px;
    margin: 0;
    padding: 12px 12%;
    color: #383838;

    @media screen and (min-width: 700px) {
      font-size: 11px;
    }
  }
}
