.container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: var(--headerAdd);
}

.container p {
  color: var(--white);
  font-family: 'Effra';
  text-align: center;
}

.elementsContainer {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.elementContainer {
  margin-right: 25px;
}

.hideElement {
  visibility: hidden;
  position: absolute;
  @media (min-width: 768px) {
    visibility: visible;
    position: relative;
  }
}