select {
  appearance: none;
  background: #ffffff url('/static/Icons/select-arrow.svg') no-repeat 90% 50%;
  padding: 5px 35px 5px 5px;
  border: 1px solid #d9d9d9;
  outline:none;
  width: 100%;
  height: 30px;
  color: #000000;
  font-family: 'Effra';
  font-size: 11px;
}
