*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bottom{
    margin: auto;
    margin-top: 240px;
    @media screen and (min-width: 768px) {
    width: 730px;
    height: 770px;
    margin-top: 20px;
    }
    @media screen and (min-width: 1024px) {
    width: 955px;
     margin-top: 20px;
     }
}