.headerImage {
  position: relative;
  height: 160px;
  width: 100%;
  background: url("/static/prof/page-small.svg") center center no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    background: url("/static/prof/page-medium.svg") center center /contain no-repeat;
    width: 730px;
    height: 168px;
    padding-bottom: 17px;
    margin-top: 21px;
  }

  @media screen and (min-width: 1024px) {
    background: url("/static/prof/page-large.svg") center center /contain no-repeat;
    width: 955px;
    height: 210px;
    margin-top: 24px;
  }
}

.buttonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 126px;
  height: 29px;
}

.profileImg {
  width: 90px;
  margin: auto;
  padding-top: 109px;

  @media screen and (min-width: 768px) {
    margin-left: 23px;
    padding-top: 57px;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 50px;
    padding-top: 89px;
  }
}
