.textareaContainer {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea {
  height: 80%;
  width: 80%;
  resize: none;
  border: 0;
  overflow: hidden;
  color: #AFAFAF;
}