.card {
	min-height: 40px;
	margin: 0 auto 20px auto;
	background: white;
	border-radius: 9px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .22);
	overflow: hidden;
}

.cardHalfRound {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}