.professionalProfileHeader {
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.22);

  @media screen and (min-width: 768px) {
    width: 700px;
    min-height: 220px;
    margin: auto;
    border-radius: 9px;
  }
}

.professionalProfileheaderBackgroundImage {
  width: 100%;
  height: 130px;
  position: relative;
  margin: auto;
  margin-top: 0;
}

.professionalProfileBackgroundImage {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.buttonContainer {
  display: none;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline;
    float: right;
    z-index: 5;
    width: 126px;
    height: 29px;
  }
}

.mobileButtonContainer {
  margin-top: 10px;
  width: 126px;
  height: 29px;
}

.mobileButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.professionalProfileHeaderInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 10px 20px;
  position: relative;
  top: -50px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    top: 0;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.professionalProfileImage {
  order: 2;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  width: 90px;
  height: 90px;

  @media screen and (min-width: 768px) {
    order: 1;
    width: 60px;
    height: 60px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.roundedContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.additionalInfo {
  font-size: 12px;
  color: #383838;
}

.additionalInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    float: right;
  }
}

.additionalInfoContent {
  color: #7262bf;
  font-size: 14px;
  font-weight: bolder;
}

.professionalProfileBasicInfoContainer {
  order: 4;
  width: 100%;

  @media screen and (min-width: 768px) {
    order: 2;
    max-width: 400px;
  }
}

.priceContainer {
  order: 1;
  margin-right: 30px;

  @media screen and (min-width: 768px) {
    order: 3;
    margin-right: 0;
  }
}

.ratingContainer {
  order: 3;
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    order: 4;
    margin-right: 0;
  }
}

