.profileBox {
    background-color: #ffff;
    border-radius: 4px;
    border-size: 10px;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    box-shadow: 2px 10px 10px #ccc;
    @media screen and (min-width: 768px) {
    width: 730px;  
    margin: auto;  
    box-shadow: 2px 2px 10px #ccc;
    }
}
.boxCalendar {
    @media screen and (min-width: 768px) {
        width: 50%;
        float: right;
        margin-top: -53px;
    }
    @media screen and (min-width: 768px) {
        width: 100%;
        margin-top: 0px;
    }
}
.openCalendar {
    width: 127px;
    height: 29px;
    background-color: #7262bf;
    border-radius: 100px;
    text-align: center;
    color: white;
    margin: auto;
    display: block;
    border-width: 0px;
    @media screen and (min-width: 768px) {
        margin: auto;
    }
}
th {
    color: #383838;
    font-size: 9px;
}
.boxTitle {
    width: 77%;
    float: left;
    font-size: 11px;
    text-align: left;
    font-family: Effra;    
    padding: 16px;
    padding-bottom: 0;
    padding-right: 0px;
    @media screen  and (min-width: 768px) {
        padding-bottom: 0;
        width: 233px;
    }

}

.boxEdit{
    width: 20%;
    float: right;
    width: 38px;
}


.half:after {
    content: '';
    display: block;
    clear: both;
}

.calendar{
    padding-bottom: 20px;
    height: auto;
    @media screen and (min-width: 768px) {
     width: 340px;   
     margin: auto;
     margin-right: 0px;

      }
    @media screen and (min-width: 1024px) {
    width: 440px;
    margin: auto;
     margin-right: 0px;
    order: 2;
    }
}

.calendarDays{
    margin-left: 15%;
    width: 70%;
}
.calendarCaption{
    font-size: 11px;
    font-family: Effra;
    padding: 15px;
    @media screen and (min-width: 768px) {
        padding-top: 5px;
        width: 277px;
        margin-right: 0;
    }

}

.calendarButton{
   width: 100%; 
   background-color: #BEFCAF;
   color: white;
   border:none;
   border-radius: 10px;
   height: 21px;
}

.calendarTable{
    width:100%;
    font-size: 11px;
    font-family: Effra;
    padding-bottom: 10px;
    @media screen and (min-width: 768px) {
        width: 50%;
        float: right;
        margin-top: -45px;
    }
    @media screen and (min-width: 1024px) {
        width: 100%;
        float: center;
        margin-top: 0px;
    }
}
.calendarLeft{
    width: 5px;
    margin-left: +88%;
}
td{
    width: 11%;
    height: 21px;
}

tr {
    margin-top: 7px;
}
.active{
    background-color: #46F61A;
}
.unactive{
    background-color: #BEFCAF;
}
#half {
    @media screen and (min-width: 768px) {
        width: 50%;
        height: 39px;
    }
}