.profile_box {
    background-color: #ffff;
    border-radius: 4px;
    border-size: 10px;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    box-shadow: 2px 10px 10px #ccc;
    @media screen and (min-width: 768px) {
    width: 730px;  
    margin: auto;  
    box-shadow: 2px 2px 10px #ccc;
    }
}
.box_calendar {
    @media screen and (min-width: 768px) {
        width: 50%;
        float: right;
        margin-top: -53px;
    }
    @media screen and (min-width: 768px) {
        width: 100%;
        margin-top: 0px;
    }
}
th {
    color: #383838;
    font-size: 9px;
}
.box_title {
    width: 77%;
    float: left;
    font-size: 11px;
    text-align: left;
    font-family: Effra;    
    padding: 16px;
    padding-right: 0px;
    @media screen  and (min-width: 768px) {
        padding-bottom: 0;
        width: 233px;
    }
    @media screen  and (min-width: 1440px) {
        padding-bottom: 0;
        width: 70%;
    }

}

.box__edit{
    width: 20%;
    float: right;
    width: 38px;
}


.half:after {
    content: '';
    display: block;
    clear: both;
}

.calendar{

    @media screen and (min-width: 768px) {
     float: left;
     width: 100%;   
     margin: auto;
     margin-top: 15px;
     height: 77px;

      }
    @media screen and (min-width: 1024px) {
    width: 290px;
    height: 134px;
    margin-top: 0;
    margin-left: 39px;
    order: 2;
    }
}

.calendar_days{
    margin-left: 15%;
    width: 70%;
}
.calendar_caption{
    font-size: 11px;
    font-family: Effra;
    padding: 15px;
    @media screen and (min-width: 768px) {
        padding-top: 5px;
        width: 277px;
        margin-right: 0;
    }
     @media screen and (min-width: 1440px) {
        padding-top: 5px;
        width: 100%;
        margin-right: 0;
    }
    
}

.calendar_button{
   width: 100%; 
   background-color: #BEFCAF;
   color: white;
   border:none;
   border-radius: 10px;
   height: 21px;
}

.calendar_table{
    width:100%;
    font-size: 11px;
    font-family: Effra;
    padding-bottom: 10px;
    @media screen and (min-width: 768px) {
        width: 50%;
        float: right;
        margin-top: -45px;
    }
    @media screen and (min-width: 1024px) {
        width: 100%;
        float: center;
        margin-top: 0px;
    }
}
.calendar_left{
    width: 5px;
    margin-left: +88%;
}
td{
    width: 11%;
    height: 21px;
}

tr {
    margin-top: 7px;
}
.active{
    background-color: #46F61A;
}
.unactive{
    background-color: #BEFCAF;
}
#half {
    @media screen and (min-width: 768px) {
        width: 50%;
    }
     @media screen and (min-width: 1440px) {
        width: 100%;
    }
}