.burgerMenuContainer {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 4px;
  border-radius: 5px;
  background-color: #7262bf;
  margin: 6px 0;
  transition: 0.2s;
}

/* Rotate first bar */
.bar1CloseState {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

/* Fade out the second bar */
.bar2CloseState {
  opacity: 0;
}

/* Rotate last bar */
.bar3CloseState {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
