.mobileMenuContainer {
  margin-right: 18px;
}

.linksContainer {
  background: #f9f9f9;
  display: flex;
  font-size: 13px;
  flex-direction: column-reverse;
  position: absolute;
  left: 0;
  top: +41px;
  z-index: 1;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    position: relative;
    top: 0;
    background: none;
  }
}

.hideLinks {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
  height: 38px;

  @media screen and (min-width: 768px) {
    margin-right: 18px;
    color: var(--white);
    outline: none;
    border: none;
  }
}

.profile {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hidden {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.button {
  width: 100%;
  height: 38px;
  background: none;
  font-weight: 500;
  font-family: 'Effra';
  border: none;
  color: #7262bf;
  font-size: 13px;
  outline: none;
}
