.CodeVerificationModal {
  width: 255px;
  height: 304px;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  outline: none;
  margin:auto;

  @media(min-width: 768px) {
    width: 490px;
    height: 266px;
    margin: auto;
  }
}
.OverlayModal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 206px;
  margin: auto;
  display: flex;
  flex-flow: column;
  @media(min-width: 768px){
    width: 400px;
  }
}
.head-text {
  margin: auto;
  text-align: center;
  @media(min-width: 768px){
    margin-bottom: 5px;
  }
}
p {
  margin: 0;
  font-family: "Efrra";
  font-size: 12px;
  color: #626262;
}
.box {
  @media(min-width: 768px){
    display: flex;
  }
}
.sign {
  margin: 18px auto 15px auto;
}
.sign p {
  font-size: 15px;
  color: #4E4E4E;
}
.share {
  margin-bottom: 15px; 
}
.inpt {
  width: 186px;
  height: 29px;
  border: 1px solid #AFAFAF;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 9px;
}
input::placeholder {
  font-size: 12px;
  color: #AFAFAF;
}
.pcode {
  color: #AFAFAF;
  margin-left: 4px;
  @media(min-width: 768px){
    margin: 10px 0 0 15px;
  }
}
.btn {
  width:100%;
  height: 29px;
  border-radius: 5px;
  border: 1px solid #7262BF;
  color: white;
  background-color: #7262BF;
  margin: 18px auto 15px auto;
}
.term {
  font-size: 10px;
  color: #AFAFAF;
}
.edterms {
  color: #7262BF;
  text-decoration: none;
  margin-bottom: 24px;
}