.CodeVerificationModal {
  width: 255px;
  height: 304px;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  outline: none;
  margin: auto;

  @media (min-width: 768px) {
    width: 490px;
    height: 266px;
    margin: auto;
  }
}

.OverlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 206px;
  margin: auto;
  display: flex;
  flex-flow: column;

  @media (min-width: 768px) {
    width: 400px;
  }
}

.head-text {
  margin: auto;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 5px;
  }
}

p {
  margin: 0;
  font-family: var(--font);
  font-weight: 400;
  font-size: 12px;
  color: #626262;
}

.box {
  @media (min-width: 768px) {
    display: flex;
  }
}

.sign {
  margin: 18px auto 15px;
}

.sign p {
  font-size: 15px;
  color: #4e4e4e;
  font-weight: bold;
}

.share {
  margin-bottom: 10px;
}

.pcode {
  color: #afafaf;
  margin-left: 4px;

  @media (min-width: 768px) {
    width: 183px;
    margin: 15px 0 0 20px;
  }
}

.term {
  font-size: 10px;
  color: #afafaf;
  margin-top: 14px;
}

.edterms {
  color: #7262bf;
  text-decoration: none;
  margin-bottom: 24px;
}

.btn-div {
  margin-top: 10px;
}
