.container {
  padding-left: 10px;
  padding-right: 10px;
}
.navigation {
  margin-top: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
  margin-top: 11px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.navigation p {
  font-size: 11px;
  margin: 0 auto;
}
.navigation img {
  width: 100%;
  margin: 0 auto;
}
.violet {
  color: #8045dd;
  padding-top: 14px;
  padding-left: 23px;
  padding-bottom: 7px;
}
.payOut {
  padding-top: 7px;
  padding-left: 23px;
  padding-bottom: 14px;
}
.profile h3 {
  width: 86px;
  margin: auto;
  text-align: center;
  font-size: 18px;
}