.component{
  margin-top: 10px;
  width: 100%;
  background-color: #F9F9F;
  height: 700px;
  margin: auto;
    @media screen and (min-width: 768px) {
     width: 700px;
     justify-content: center;
    }

}
.menu{
    box-shadow: 2px 2px 10px #ccc;
    width: 96%;
    border-radius: 4px;
    margin: auto;
    @media screen and (min-width: 768px) {
    float: left;
    width: 20%;
    }
}
.profile{
  display: block;
  margin: auto;
  width: 90%;
   @media screen and (min-width: 768px) {
    float: right;
    width: 80%;
   }
}
.photos{
  display: flex;
  justify-content: space-between;
}
.photo{
  width: 60px;
}
.upload{
  weight: 200px;
}

ul{
  list-style-type: none;
  padding: 0px;
}
li{
  padding-left: 10px;
  width: 100%;
  margin:auto;
  border-radius: 3px;
  height: 40px;  
  border-bottom: 1px solid #ccc;
}


.link{
    font-size: 13px;
    border-radius: 4px;
    width: 88%;
    padding: 14px 10px;
    color: black;
    text-align: left; 
    text-decoration: none;
    display: inline-block;
  
}
.current{
  color: #7262BF;
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: Effra;
  padding: 20px;

}

.label{
  font-size: 11px;
  font-family: Effra;
  padding: 15px 0px 0px;
  color: #626262;
  font-weight: bold;
  padding-bottom: 3px;
}
.input{
  width: 94%;
  border-radius: 4px;
  height: 24px;
  border: 1px solid #D9D9D9;
  background: #F9F9F9;
  padding: 0px 10px;
}
.input.about{
  height: 130px;
  resize: none;
}
.small{
  width: 14%;
  padding-left: 10px;
  height: 28px;
}
.select{
  margin-left: 3px;
  height: 30px; 
  width: 77%;
}
.button{
  border-radius: 100px; 
  width: 120px;
  height: 30px;
  background-color: #7262BF;
  color: white;
  border: none;
  margin: 10px 0px 10px;
  font-size: 11px;
}
.calendar{
  position: relative;
  top: -20px;
  left: +95%;
}
.buttons{
  display: flex;
  width: 100%;
  margin: auto;
  height: 40px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.cancel{
  display: inline;
  float: left;
  width: 140px;
  color: black;
  background-color: #E8E8E8;
}
.save{
  display: inline;
  width: 140px;
  float: right;

}
.pass{
  margin-bottom: 10px;
}