.form{
    display: block;
    margin-top: 50px;
    width: 100%;  
    @media screen and (min-width: 768px) {
     margin-top: 20px;
     width: 100%;
    }
     @media screen and (min-width: 1440px) {
     margin-top: 30px;
     height: 350px;
     width: 100%;
    }

}


.caption{
    font-size: 13px;
    width: 200px;
    margin: auto;
    text-align: center;
    font-family: Effra;
    @media screen and (min-width: 768px) {
    width: 400px;
    font-size: 15px;
    }
    @media screen and (min-width: 1440px) {
    width: 450px; 
    font-size: 17px;
    }
  }
 .captionGray{
    color: #d9d9d9;
    font-size: 12px;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-family: Effra;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
    margin-top: 20px;
    width: 400px;
    font-size: 13px;
    margin-bottom: 2px;
    
    }
  }
  .inputfile{
    position: absolute;
    overflow: hide;
    z-index: -1;
    height: 0.1;
    width: 0.1;
    opacity: 0;
  }
  .label{
    display: flex;
    width: 150px;
    height: 150px;
    color: #7262BF;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    cursor: pointer;
    

  }
  .edit{
    position: relative;
    bottom: -130px;
    left: -20px;
    width: 40px; 
    height: 40px;

  }
  .browseAndEdit{
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
    justify-content: center;
    height: 150px;
    @media screen and (min-width: 768px) {
     margin-top: 0px;
    }
    @media screen and (min-width: 1440px) {
    margin-left: 166px;
    margin-top: 10px;
    width: 50%;
    margin-bottom: 40px;
    }

  }
  .skip{
    font-size: 12px;
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
    font-size: 13px;
    }
  }
  .addButton{
    height: 32px;
    width: 190px;
    color: white;
    font-family: var(--font);
    border: 0;
    border-radius: 5px;
    background-color: #7262bf;
    margin-bottom: 26px;
    margin-left: 12%;
      @media screen and (min-width: 768px) {
      width: 90%;
      margin: 20px;
      margin-top: 2px;
      
      }
       @media screen and (min-width: 1440px) {
       margin-left: 30px;
  
       }
  }