.appointmentContainer {
  display: flex;
  justify-content: flex-start;
  margin: 23px 20px;
  flex-direction: column;
  align-items: baseline;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.professionalInfoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.appointmentProfileImage {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 20px;

  @media screen and (min-width: 1024px) {
    margin-right: 15px;
  }
}

.appointmentInfoContainer {
  display: flex;
  flex: 2;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-left: 49px;
  }
}

.appointmentDayIcon {
  width: 15px;
  height: 15px;
}

.appointmentDayInfo {
  display: flex;
  align-items: stretch;
}

.appointmentDay {
  margin-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
}

.connectButtonContainer {
  width: 100px;
  height: 29px;
}

.appointmentOptionsContainer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
