.SignInModal {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid rgb(204, 204, 204);
  margin: auto;
  width: 320px;
  height: 600px;
  outline: none;
  overflow: auto;
  padding: 0;

  @media screen and (min-width: 768px) {
    width: 400px;
    height: 310px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.OverlayModal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.signInContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 25px 20px 30px;
}

.titleContainer {
  font-size: 15px;
  font-weight: bold;
  color: #4e4e4e;
  width: 100%;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.formInputsContainer {
  order: 1;
  width: 100%;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-left: 0;
    margin-right: 10px;
  }
}

.socialButtonsTitle {
  color: #626262;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 10px;
}

.continueButtonContainer {
  display: grid;
  order: 2;
  width: 100%;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    order: 3;
  }
}

.additionalButtonsContainer {
  order: 3;
  margin-top: 20px;
  width: 100%;
  display: grid;

  @media screen and (min-width: 768px) {
    width: 45%;
    order: 2;
    display: block;
    box-sizing: border-box;
  }
}

button {
  text-decoration: none;
  border: none;
  outline: 0;
  background: none;
  font-size: 12px;
  color: #00ff1f;
}

.loginhere-div {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 8px;
  width: 100%;
}

p {
  font-size: 11px;
  font-family: var(--font);
  color: #626262;
  margin: 0;
  font-weight: bold;
  margin-bottom: 10px;
}
