.SignInModal {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid rgb(204, 204, 204);
  margin: auto;
  width: 238px;
  height: 548px;
  outline: none;
  overflow: scroll;
  padding: 0;

  @media(min-width: 768px) {
    width: 420px;
    height: 380px;
  }
}

::-webkit-scrollbar {
  display: none;
}


.OverlayModal {
  z-index: 2;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.signInContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.titleContainer {
  font-size: 15px;
  font-weight: bold;
  color: #4e4e4e;
  width: 100%;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-flow: wrap;
  width: 80%;

  @media screen and (min-width: 768px) {
    width: 90%;
  }
}

.formInputsContainer {
  order: 1;
  width: 192px;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 18px;
  }
}

.socialButtonsTitle {
  font-weight: bold;
  color: #626262;
  display: flex;
  font-size: 11px;
  margin-bottom: 10px;
}

.continueButtonContainer {
  display: flex;
  flex-direction: column;
  order: 2;
  width: 192px;
  margin: 20px 0;

  @media screen and (min-width: 768px) {
    order: 3;
    width: 100%;
    margin-top: 30px;
  }
}

.line {
  width: 100%;
}

.signUpLink {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  font-size: 11px;
  margin-top: 20px;
  text-decoration: none;
  color: #00ff1f;
}

.signUpLink p {
  margin: 15px 0 10px;
}

.signUpLink p {
  margin: 15px 0 10px;
}

.forgotPassword {
  height: 10px;
  margin: 10px 0 15px 45px;
  width: 100%;
  font-weight: bold;
  font-size: 9px;
  text-align: center;
  color: #626262;
  text-decoration: none;
}

.forgotPassword:hover {
  border-bottom: solid 1px #626262;
}

.additionalButtonsContainer {
  order: 3;
  margin-top: 20px;
  width: 192px;
  display: grid;

  @media screen and (min-width: 768px) {
    width: 40%;
    order: 2;
    margin-left: 15px;
    margin-top: 15px;
    display: block;
    box-sizing: border-box;
  }
}

button {
  text-decoration: none;
  border: none;
  outline: 0;
  background: none;
  font-size: 12px;
  color: #00ff1f;
}


.loginhere-div {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 8px;
  width: 100%;
}

p {
  font-size: 11px;
  font-family: var(--font);
  color: #626262;
  margin: 0;
  font-weight: bold;
}
