.chatContainer {
  min-height: 243px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  border: 0.1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap-reverse;
  }
}

.chatInputContainer {
  order: 1;
  width: 90%;
  margin: 20px auto;

  @media screen and (min-width: 768px) {
    order: 2;
  }
}

.chatHistory {
  order: 2;
  flex-grow: 2;
  padding: 24px 20px 20px;

  @media screen and (min-width: 768px) {
    order: 1;
  }
}
