.profile_header {
    width: 100%;
    box-shadow: 0 10px 10px #ccc;
    margin-bottom: 10px;
    padding-bottom: 23px;
    @media screen and (min-width: 768px) {
       
    }
}
.lists {
    margin: auto;
    margin-top: 55px;
}
.request {
    width: 127px;
    height: 29px;
    background-color: #7262bf;
    border-radius: 100px;
    text-align: center;
    color: white;
    margin: auto;
    display: block;
    margin-top: 20px;
    border-width: 0px;
}