:root {
  --font: Effra;
  --boxHeight: 28.21px;
  --boxWidth: 184px;
}

.box {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #8D55E6;
  align-items: center;
  background: linear-gradient(to right, #8D55E6 , #AE8EE0);
}

.logo {
  padding-left: 16px;
  padding-top: 4px;
  width: 92px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  width: 320px;
}

.btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  font-family: var(--font);
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  outline: none;
}
