.FileUploaderModal {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  margin: auto;
  margin-top: 150px;
  outline: none;
  overflow: none;
  padding: 0;
  width: 280px;
  height: 450px;
}

.OverlayModal {
  z-index: 2;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.fileUploaderContainer {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

p {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Effra';
  margin: 0;
  color: #282829;
}

.uploadHeader {
  width: 100%;
  height: 40px;
  background-color: #F0F2F6;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.uploadHeaderTitle {
  width: 100%;
  margin: auto;
  padding-left: 15px;
}

.cancelUploadBtn {
  width: 30px;
  margin: auto;
}

.cancelUploadBtn:hover,
.cancelUploadBtn:focus {
  background-color: rgba(240, 242, 246, 0.5);
  cursor: pointer;
}

.uploadBody {
  width: 100%;
  height: 77%;
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.uploadFooter {
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px;
  background-color: #F0F2F6;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.uploadInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  margin-top: 20px;
  overflow: hidden;
  position: absolute;
}

label {
  width: 100px;
  height: 23px;
  padding-top: 7px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(240, 242, 246);
}

.uploadInput + label {
  font-size: 12px;
  display: inline-block;
}

.uploadInput:focus + label,
.uploadInput + label:hover {
  background-color: rgba(240, 242, 246, 0.5);
  cursor: pointer;
}

.uploadInput:focus + label {
  outline: 1px dotted rgba(0, 0, 0, 0.3);
  outline: -webkit-focus-ring-color auto 5px;
}

.uploadInput + label * {
  pointer-events: none;
}

.sampleUpload {
  width: 100px;
  height: 100px;
  margin: 30px auto;
}

.sampleUpload img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.uploadTitle {
  text-align: center;
  width: 240px;
  margin: auto;
}

.uploadTitle p {
  margin: 5px;
}

button {
  width: 100px;
  height: 30px;
  background-color: rgb(240, 242, 246);
  outline: none;
  border-radius: 5px;
  border: 2px solid #fafafa;
  font-size: 12px;
  font-family: 'Effra';
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: rgba(240, 242, 246, 0.5);
}

.uploadErrorText {
  margin-bottom: 5px;
  text-align: center;
}
