.foundUniversitiesContainer {
  margin-top: 12px;
  margin-bottom: 19px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.universityContainer {
  padding: 13px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-right: 27px;
  }
}

.headerInfo {
  display: flex;
}

.headerRight {
  width: 80%;
  padding-left: 15px;
}

.universityLogo {
  background: url("http://res.cloudinary.com/dsyyowxl0/image/upload/v1509977045/uni-logo-placeholder_iadyzc.svg") center center no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  border-radius: 7px;

  @media screen and (min-width: 768px) {
    width: 101px;
    height: 101px;
  }
}

.mainInfo {
  display: flex;
}

.title {
  color: #383838;
  font-size: 12px;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

.placaholderIcon {
  width: 9px;
  height: 10px;
  padding: 3px;
}

.city {
  color: #9f9f9f;
  font-size: 12px;
  margin: 0;
}

.description {
  font-size: 11px;
  margin: 0;
  margin-top: 5px;
  box-sizing: border-box;
}

.footerInfo {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.group {
  width: 50%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #7262bf;
  font-weight: bold;
  max-width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  background-color: #f3f3f3;
}

.text {
  margin: auto;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
}
