.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
  padding: 20px 10px;
  background-color: #f9f9f9;

  @media screen and (min-width: 768px) {
    padding: 20px 34px;
  }

  @media screen and (min-width: 1024px) {
    padding: 30px 0;
  }
}

.collapseContainer {
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: start;
    margin: auto;
  }
}
