.studentProfileContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  padding: 20px 10px;
  background-color: #f9f9f9;

  @media screen and (min-width: 527px) {
    width: 500px;
    margin: auto;
    padding: 20px 10px;
  }

  @media screen and (min-width: 768px) {
    width: 700px;
    margin: auto;
    padding: 20px 34px;
  }

  @media screen and (min-width: 1024px) {
    width: 900px;
    margin: auto;
    padding: 30px 0;
  }
}

.appointmentCardContainer {
  margin-bottom: 15px;
}

.title {
  font-size: 11px;
  font-family: "Effra";
  font-weight: 500;
  color: #626262;
}
