.SignUpAsStudent {
  height: 584px;
  width: 255px;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  overflow: auto;
  margin: auto;

  @media (min-width: 768px) {
    width: 426px;
    height: 435px;
    margin: auto;
  }
}

::-webkit-scrollbar {
  display: none;
}

.inputs {
  display: block;

  @media (min-width: 768px) {
    order: 1;
    width: 50%;
    margin: auto;
  }
}

.OverlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  text-decoration: none;
  border: none;
  outline: 0;
  background: none;
  font-size: 12px;
  color: #00ff1f;
}

.signUpLink {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  font-size: 11px;
  margin-top: 2px;
  text-decoration: none;
  color: #00ff1f;
}

.line {
  width: 100%;
}

h1,
p {
  font-size: 11px;
  font-family: var(--font);
  color: #626262;
  margin: 0;
  font-weight: bold;
}

.container {
  width: 100%;
  margin: auto;
}

.container-div {
  width: 192px;
  margin: auto;

  @media (min-width: 768px) {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
}

.share {
  width: 159px;
  font-size: 11px;
  color: #afafaf;
  text-align: center;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 284px;
  }
}

.sign {
  font-family: var(--font);
  color: #4e4e4e;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    margin-bottom: 5px;
    margin-top: 20px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
}

.continuebtn-div {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-top: 45px;
    margin-bottom: 22px;
    order: 3;
  }
}

.signIns {
  @media (min-width: 768px) {
    width: 45%;
    order: 2;
    margin-left: 10px;
    margin-top: 17px;
  }
}

.linkedinbtn-div {
  width: 100%;
  display: grid;

  @media (min-width: 768px) {
    margin: auto;
    margin-top: 0;
  }
}
.linkedinbtn-div p {
  margin-bottom: 10px;
}
.loginhere-div {
  width: 100%;
  margin-top: 0;
  margin-bottom: 8px;
}

.loginhere-div p {
  color: #626262;
  font-size: 12px;
}

.fullname {
  width: 192px;
}

.date {
  width: 192px;
}

.email {
  width: 192px;

  @media (min-width: 768px) {
    margin-top: 8px;
  }
}

.pwd {
  width: 192px;

  @media (min-width: 768px) {
    margin-top: 8px;
  }
}
