.signUpStudentModalContainer {
  max-height: 600px;
  min-height: 418px;
  max-width: 426px;
  min-width: 255px;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  overflow: scroll;
  margin: auto;
}

.signUpStudentModalOverlayModal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}

.signUpStudentContainer {
  width: 100%;
  margin: auto;
}

.signUpStudentContainer h1,
p {
  font-size: 11px;
  font-family: var(--font);
  color: #626262;
  margin: 0;
  font-weight: bold;
}

.loginButton {
  background: transparent;
  border: 0;
  text-decoration: none;
  font-size: 12px;
  color: #00ff1f;
}

.signUpStudentBodyContainer {
  width: 192px;
  margin: auto;

  @media (min-width: 768px) {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
}

.share {
  width: 159px;
  font-size: 11px;
  color: #afafaf;
  text-align: center;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 284px;
  }
}

.signUpStudentHeaderTitle {
  font-family: var(--font);
  color: #4e4e4e;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 6px;

  @media screen and (min-width: 768px) {
    margin-bottom: 5px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-top: 33px;
    margin-bottom: 5px;
  }
}

.signUpStudentContinueButton {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}

.signUpStudentLoginContainer {
  margin-top: 15px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    position: relative;
    margin-top: 40px;
    top: -350px;
    left: 67px;
    width: 40%;
  }
}

.signUpStudentLoginContainer img {
  width: 192px;

  @media screen and (min-width: 768px) {
    width: 152px;
  }
}

.signUpStudentLoginContainer p {
  color: #626262;
  margin-top: 8px;
  font-size: 12px;
}

.signUpStudentSocialContainer {
  width: 100%;

  @media screen and (min-width: 768px) {
    position: relative;
    margin-top: 30px;
    top: -450px;
    left: 214px;
    width: 40%;
  }
}

.signUpStudentSocialContainer p {
  margin-bottom: 10px;
}

.formInputsContainer {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}
