.SignUpProfessionalUniversity {
  width: 255px;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  overflow: scroll;
  outline: none;
  margin: auto;

  @media (min-width: 768px) {
    width: 407px;
    height: 345px;
  }

  @media (min-width: 1024px) {
    width: 500px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.OverlayModal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  margin: auto;
  display: block;

  @media (min-width: 768px) {
    width: 90%;
  }
}

.headerTitle {
  font-family: var(--font);
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #4e4e4e;
  margin: 18px auto 5px;

  @media (min-width: 768px) {
    font-size: 13.5px;
  }

  @media (min-width: 1024px) {
    font-size: 15px;
  }
}

.description {
  color: #afafaf;
  text-align: center;
  font-size: 11px;

  @media (min-width: 768px) {
    font-size: 12px;
  }

  @media (min-width: 1024px) {
    font-size: 13px;
  }
}

.skip {
  margin-top: 6px;
  width: 100%;
  text-align: center;
  color: #afafaf;
  background: none;
  text-decoration: none;
  border: none;
}

.skip:hover {
  text-decoration: underline;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  width: 80%;
  margin: auto;

  @media (min-width: 768px) {
    width: 90%;
  }
}
