.professInfoText {
  color: var(--white);
  font-family: "Effra";
  text-align: center;
  font-size: 11px;
}

.professInfoContainer {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.professImage {
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  width: 30px;
  height: 30px;
}
