.HeaderModal {
  height: 555px;
  width: 255px;
  background-color: white;
  border-radius: 20px;
  padding: 0;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  outline: none;
  margin:auto;

  @media screen and (min-width: 768px) {
    width: 477px;
    height: 355px;
    margin: auto;
  }
  @media screen and (min-width: 1440px) {
    width: 599px;
    height: 401px;
    margin: auto;
  }
}
.OverlayModal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
