h1, p {
  font-family: var(--font);
  color: #626262;
}

.container {
  display: flex;
  align-items: center;
}

.sign {
  font-family: var(--font);
  color: #626262;
  width: 100%;
  text-align: center;
  font-size: 17px;
  display: block;
  margin: auto;
  margin-top: 13px;
  margin-bottom: 19px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    font-size: 17px;
    width: 100%;
    margin-top: 23px;
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 23px;
    margin-top: 33px;
    width: 100%;
    margin-bottom: 25px;
  }
}

.signUp {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.inputBox {
  display: block;
  margin: auto;
  width: 190px;
  @media screen and (min-width: 768px) {
    margin-right: 0 auto;
  }
}
.together {
  margin:  auto;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }
}

.inputBox2 {
  display: block;
  margin: auto;
  width: 190px;
}
.inputBox3 {
  display: block;
  margin: auto;
  width: 190px;
  margin-top: 19px;
}
#line {
  width: 189px;
  margin: auto;
}
input::placeholder {
  font-size: 9px;
  color: #777777;
}

.continueButton, .facebookButton, .googleButton {
  height: 31.21px;
  width: 190px;
  color: white;
  margin: auto;
  font-family: var(--font);
  border: 0;
  border-radius: 5px;

  @media screen and (min-width: 375px) {
   
  }

  @media screen and (min-width: 414px) {
   
  }
}

.continueButton {
  margin-top: 7.95px;
  background-color: #7262bf;
  margin-bottom: 25.79px;
  @media screen and (min-width: 768px) {
    width: 433px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 21px;
    width: 489px;
  }
}

.facebookButton {
  background-color: #6981ca;
  margin-top: 9.47px;
  margin-bottom: 7.47px;
}

.googleButton {
  background-color: #cb5541;
}

.loginButton {
  color: #00ff1e;
  font-size: 12px;
  font-weight: lighter;
  width: 81.59px;
  height: 15px;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: white;
  text-align: left;

  @media screen and (min-width: 375px) {
   
  }

  @media screen and (min-width: 414px) {

  }
}

.image {
  width: 209px;
  margin-bottom: 21.66px;
}


p {
  font-size: 11px;
  margin: 0;
  padding-bottom: 4px;

  @media screen and (min-width: 375px) {
 
  }

  @media screen and (min-width: 414px) {
    
  }
}

.input {
  margin-bottom: 18.79px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  outline: none;
  height: 29px;
  width: 184px;
  padding-left: 9px;
}
