.profile_box {
    background-color: #ffff;
    border-radius: 4px;
    border-size: 10px;
    width: 90%;
    min-height: 80px;
    margin: 5% auto;
    box-shadow: 2px 10px 10px #ccc;
    @media screen and (min-width: 768px) {
    width: 730px;  
    margin: auto;  
    box-shadow: 2px 2px 10px #ccc;
    }
}
.half:after {
    content: '';
    display: block;
    clear: both;
}

.box_title {
    width: 77%;
    float: left;
    font-size: 11px;
    text-align: left;
    font-family: Effra;    
    padding: 16px;
    padding-right: 0px;
    @media screen  and (min-width: 768px) {
        padding-bottom: 0;
    }
    @media screen  and (min-width: 1440px) {
        padding-bottom: 0;
        width: 70%;
    }

}
.box_title p {
    width: 103px;
    margin-right: 0;
}

.box__edit{
    width: 20%;
    float: right;
    width: 38px;
}
.about{
    @media screen and (min-width: 768px) {
    position: relative;
    top: -12%;
    float: left;
    width: 70%;
    margin: auto;
    height: 134px;
    }
    @media screen and (min-width: 1440px) {
    width: 50%;
    height: 140px;
    }
}   
.about_content{
    font-size: 11px;
    font-family: Effra;
    padding:15px;

}
#half {
    @media screen and (min-width: 768px) {
        width: 50%;
    }
     @media screen and (min-width: 1440px) {
        width: 100%;
    }
}