.backButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: hidden;
  outline: none;
  height: 100%;
  max-width: 43px;
  margin: 0 20px;
}

.backButtonTitle {
  color: var(--white);
  font-family: "Effra";
  text-align: center;
  font-weight: 500;
  margin-left: 10px;
}

.dynamicText {
  font-size: 0;
  position: absolute;

  @media (min-width: 768px) {
    font-size: 11px;
    position: relative;
  }
}
