.professionalProfileEditContainer {
  width: 282px;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 352px;
  }
}

.professionalProfileEditTitle {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  font-family: Effra;
  color: #000;
  margin: 20px 0 30px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.profileImagesContainer {
  display: flex;
  height: 60px;
}

.pickProfileImageContainer {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
  position: relative;
  font-size: 10px;
  font-weight: normal;
}

.professionalProfileImage {
  background-color: rgba(0, 0, 0, 0.9);
  width: 90px;
  height: 90px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;
  }
}

.overlayButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.professionalBackgroundImage {
  width: 272px;
  height: 60px;
  object-fit: cover;
}

.pickProfileBackgroundImageContainer {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: Effra;
  padding: 20px;
}

.uploadButton {
  position: right;
  cursor: pointer;
  width: 100%;
  background-size: cover;
  border-radius: 7px;
}

.step {
  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.step_child {
  @media screen and (min-width: 768px) {
    width: 46%;
  }
}

.step2 {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 50px;
  }
}

.step2 button {
  @media screen and (min-width: 768px) {
    width: 100px;
  }
}

.comment {
  @media screen and (min-width: 768px) {
    margin: 10px;
    margin-right: 0;
  }
}

.label {
  font-size: 11px;
  font-family: Effra;
  padding: 15px 0 0;
  color: #626262;
  font-weight: bold;
  padding-bottom: 7px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  height: 28px;
  border: 1px solid #d9d9d9;
  background: #f9f9f9;
  padding: 0 5px;
  color: #6a6a6a;
  font-family: Effra;
}

.input.about {
  height: 130px;
  resize: none;
  padding: 4px;
}

.small {
  width: 15%;
  text-align: center;
  padding-left: 3%;
  height: 28px;
}

.date {
  cursor: text;
}

.dollarSign {
  display: flex;
  position: relative;
  padding-left: 0;
  font-family: Effra;
  color: #6a6a6a;
  width: 100%;
}

.dollarSign::after {
  position: absolute;
  left: 5px;
  top: 7px;
  font-size: 13px;
  content: "$";
}

.perMinute {
  font-size: 11px;
  margin-top: 7px;
  margin-left: 10px;
}

.select {
  margin-left: 2%;
  height: 30px;
  width: 83%;
}

.button {
  border-radius: 100px;
  width: 126px;
  height: 30px;
  background-color: #7262bf;
  color: white;
  border: none;
  margin: 10px 0;
  font-size: 11px;
  cursor: pointer;
  outline: none;
}

.calendar {
  position: relative;
  top: -20px;
  left: +95%;
}

.calendarComment {
  @media screen and (min-width: 768px) {
    width: 240px;
  }
}

.passwords {
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.passwordTextField {
  @media screen and (min-width: 768px) {
    width: 165px;
  }
}
/* 
.buttons {
  display: flex;
  width: 100%;
  margin: auto;
  height: 40px;
  justify-content: space-around;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
} */

.cancel {
  display: inline;
  float: left;
  color: black;
  background-color: #e8e8e8;
}

.save {
  display: inline;
  float: right;
}

.aboutTextAreaBox p {
  font-family: 'Effra';
  font-size: 11px;
  font-weight: 400;
  color: #626262;
}

.aboutTextAreaBox textarea {
  width: 95%;
  min-height: 120px;
  outline: none;
  resize: none;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 8px;
  background-color: #F9F9F9;
  color: #626262;
}

.muibtnBox {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.btn {
  margin: 15px 0;
  width: 126px;
}