.bottom {
  margin: auto;
  @media screen and (min-width: 768px) {
    width: 730px;
    height: 255px;
  }
  @media screen and (min-width: 1024px) {
    width: 955px;
    display: flex;
    height: 169px;
    margin-top: 23px;
  }
}
