.professionalProfileEditContainer {
  margin: auto;
  margin-top: 40px;
  width: 300px;
 
  @media screen and (min-width: 768px) {
    width: 358px;
  }

  @media screen and (min-width: 1024px) { 
    margin-left: 400px;    
  }
}
