.menuWrap {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.08);
  z-index: 1;
}

.menuItem {
  padding: 11px;
  font-size: 11px;
  color: #7262bf;
  text-align: center;
}

.menuItem:not(:last-of-type) {
  border-bottom: 1px solid #979797;
}